				<li class="hover"> <!-- /Menu Ferramentas mudar senha-->
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-cogs brown"></i>
						<label class="sidebar-label">Ferramentas</label>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="hover"><!-- /SubMenu Usuários mudar senha-->
							<a href="#" class="dropdown-toggle">
								<i class="menu-icon fa fa-users brown"></i>
								<label class="sidebar-label">Usuários</label>
								<b class="arrow fa fa fa-caret-right"></b>
							</a>
							<b class="arrow"></b>
							<ul class="submenu">
								<li class="hover">
									<a href="/menu/ferramentas/usuario/carregaMudarsenha">
										<i class="menu-icon fa fa-recycle red"></i>
										<label class="sidebar-label">Mudar Senha</label>
									</a>
									<b class="arrow"></b>
								</li>
								
							</ul>
							
						</li>
					</ul>
				</li>