<div class="main-container ace-save-state" id="main-container" >
			<div id="sidebar" class="sidebar responsive sidebar-scroll sidebar-fixed" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
				<!-- /Inicio do Menu -->
				<ul class="nav nav-list">
					
					<li class=""><!-- /DashBoard-->
						<a href="#" class="dropdown-toggle">

							<i class="menu-icon fa fa-tachometer purple"></i>

								<label class="sidebar-label">Dashboard</label>
							<b class="arrow fa fa-angle-down"></b>




						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-line-chart green"></i>
									<label class="sidebar-label">Estatístico</label>
								</a>

								<b class="arrow"></b>
							</li>


							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-diamond green"></i>
									<label class="sidebar-label">Financeiro</label>
								</a>

								<b class="arrow"></b>
							</li>




						</ul>
					</li>

					<li class=""> <!-- /Menu Agenda 3 Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-calendar blue"></i>

								<label class="sidebar-label">Agenda</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">


							<li class="">
								<a href="/menu/agenda/cadG">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Geral</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/cadL">
									<i class="menu-icon fa fa-filter green"></i>
									<label class="sidebar-label">Agenda Filtro</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/cadT">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Agendamento Avulso</label>
								</a>

								<b class="arrow"></b>
							</li>
							
			
						</ul>
					</li>


					<li class=""> <!-- /Menu Atendimento 3 Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-coffee orange"></i>

							<label class="sidebar-label">Atendimento</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/menu/atendimento/cad">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Novo</label>
								</a>

								<b class="arrow"></b>
							</li>

							
							<li class="">
								<a href="/menu/atendimento/lis">
									<i class="menu-icon fa fa-list green"></i>
									<label class="sidebar-label">Listar</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Relatórios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/atendimento/relatendval">
											<i class="menu-icon fa fa-file-o pink"></i>
											<label class="sidebar-label">Atend Valor</label>
										</a>

										<b class="arrow"></b>
									</li>
								</ul>
							</li>

						
						</ul>
					</li>




				    <li class=""><!-- /Menu Ajuda Níveis-->
					            <a href="/menu/ferramentas/ajuda">
						            <i class="menu-icon fa fa-life-ring red"></i>
						            <span class="menu-text"> 
									<label class="sidebar-label">Ajuda</label>
									</span>
					            </a>

					            <b class="arrow"></b>
				    </li>							



				    <li class=""><!-- /Menu Sair Níveis-->
					            <a href="#">
						            <i class="menu-icon fa fa-power-off black" ></i>
						            <span class="menu-text"> 
									<label class="sidebar-label">Sair</label>
									</span>
					            </a>

					            <b class="arrow"></b>
				    </li>

					


				</ul><!-- /.nav-list -->
<!-- /FIm do Menu -->




				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>




			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->