<div class="main-container ace-save-state" id="main-container" >
			<div id="sidebar" class="sidebar responsive sidebar-scroll sidebar-fixed" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true" style="width:150px;">
				<!-- /Inicio do Menu -->
				<ul class="nav nav-list">
					
					<li class=""><!-- /DashBoard-->
						<a href="#" class="dropdown-toggle">

							<i class="menu-icon fa fa-tachometer purple"></i>
								<label class="sidebar-label">Dashboard</label>
							<b class="arrow fa fa-angle-down"></b>

						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-line-chart green"></i>
									<label class="sidebar-label">Estatístico</label>
								</a>

								<b class="arrow"></b>
							</li>


							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-diamond green"></i>
									<label class="sidebar-label">Financeiro</label>
								</a>

								<b class="arrow"></b>
							</li>

						</ul>
					</li>

					<li class=""> <!-- /Menu Agenda 3 Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-calendar blue"></i>

								<label class="sidebar-label">Agenda</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/menu/agenda/lisG">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Geral</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisB">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Beneficiário</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisT">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Terapeuta</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisA">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Laudo</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisV">
									<i class="menu-icon fa fa-calendar-o green"></i>
									<label class="sidebar-label">Agenda Fixa</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisS">
									<i class="menu-icon fa fa-calendar-o pink"></i>
									<label class="sidebar-label">Agenda Semanal</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/lisL">
									<i class="menu-icon fa fa-filter blue"></i>
									<label class="sidebar-label">Agenda Filtro</label>
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/menu/agenda/cadT">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Agendamento Novo</label>
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class=""> <!-- /Menu Atendimento 3 Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-coffee orange"></i>

							<label class="sidebar-label">Atendimento</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/menu/atendimento/cad">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Novo</label>
								</a>

								<b class="arrow"></b>
							</li>

							
							<li class="">
								<a href="/menu/atendimento/lis">
									<i class="menu-icon fa fa-list green"></i>
									<label class="sidebar-label">Listar</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Relatórios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>


								<ul class="submenu">
									<li class="">
										<a href="/menu/atendimento/relatendbene">
											<i class="menu-icon fa fa-file-o pink"></i>
											<label class="sidebar-label">Aceite</label>
										</a>

										<b class="arrow"></b>
									</li>
								</ul>

								<ul class="submenu">
									<li class="">
										<a href="/menu/atendimento/relatendval">
											<i class="menu-icon fa fa-file-o pink"></i>
											<label class="sidebar-label">Valor</label>
										</a>

										<b class="arrow"></b>
									</li>
								</ul>

							</li>

						
						</ul>
					</li>


					<li class=""> <!-- /Menu beneficiário 3 Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-child pink"></i>

							<label class="sidebar-label">Beneficiário</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/menu/beneficiario/cad">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Novo</label>
								</a>

								<b class="arrow"></b>
							</li>

					
	
							<li class="">
								<a href="/menu/beneficiario/lis">
									<i class="menu-icon fa fa-pencil green"></i>
									<label class="sidebar-label">Listar</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Escolas</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/beneficiario/escola/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/beneficiario/escola/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>



							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Sessões</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/beneficiario/sessao/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/beneficiario/sessao/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Evolução</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">

									<li class="">
										<a href="/menu/beneficiario/evolucao/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>
							

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Relatórios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a  href="#">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Lista Responsáveis</label>
										</a>

										<b class="arrow"></b>
									</li>

								</ul>
							</li>
							


						</ul>
					</li>

					<li class=""> <!-- /Menu Convênios Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-heartbeat red"></i>

							<label class="sidebar-label">Convênios</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/menu/convenio/conv/cad">
									<i class="menu-icon fa fa-plus green"></i>
									<label class="sidebar-label">Novo</label>
								</a>

								<b class="arrow"></b>
							</li>

									
							<li class="">
								<a href="/menu/convenio/conv/lis">
									<i class="menu-icon fa fa-list green"></i>
									<label class="sidebar-label">Listar</label>
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Créditos Convênios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/convenio/convcre/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/convenio/convcre/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Débitos Convênios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/convenio/convdeb/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/convenio/convdeb/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>
							

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Relatórios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/convenio/conv/relatendconvval">
											<i class="menu-icon fa fa-file purple"></i>
											<label class="sidebar-label">Convênio Valor</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="#">
											<i class="menu-icon fa fa-file pink"></i>
											<label class="sidebar-label">Indisponível</label>
										</a>

										<b class="arrow"></b>
									</li>

								</ul>
							</li>
							


						</ul>
					</li>


					<li class=""> <!-- /Menu Financeiro Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-money green"></i>

							<label class="sidebar-label">Financeiro</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Atendimento Adm</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/financeiro/atendadm/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

												<li class="">
										<a href="/menu/financeiro/atendadm/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Contas a Receber</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/financeiro/receita/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

				
									<li class="">
										<a href="/menu/financeiro/receita/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>
									<label class="sidebar-label">Contas a Pagar</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>
								<b class="arrow"></b>
								<ul class="submenu">
									<li class="">
										<a href="/menu/financeiro/despesa/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>
										<b class="arrow"></b>
									</li>
									<li class="">
										<a href="/menu/financeiro/despesa/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>
										<b class="arrow"></b>
									</li>
									<li class="">
										<a href="/menu/financeiro/despesa/ges">
											<i class="menu-icon fa fa-file purple"></i>
											<label class="sidebar-label">Rel - Contas a Pagar</label>
										</a>
										<b class="arrow"></b>
									</li>
								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">C.Corrente</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">

	
									<li class="">
										<a  href="/menu/financeiro/corrente/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>



							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Contas</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a  href="/menu/financeiro/fornecedor/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

			
									<li class="">
										<a  href="/menu/financeiro/fornecedor/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>
							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>
									<label class="sidebar-label">Categoria</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>
								<b class="arrow"></b>
								<ul class="submenu">
									<li class="">
										<a  href="/menu/financeiro/despesa/categoria/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>
										<b class="arrow"></b>
									</li>
									<li class="">
										<a  href="/menu/financeiro/despesa/categoria/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>
										<b class="arrow"></b>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>
									<label class="sidebar-label">Sub-Categoria</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>
								<b class="arrow"></b>
								<ul class="submenu">
									<li class="">
										<a  href="/menu/financeiro/despesa/subcategoria/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>
										<b class="arrow"></b>
									</li>
									<li class="">
										<a  href="/menu/financeiro/despesa/subcategoria/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>
										<b class="arrow"></b>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-search orange"></i>

									<label class="sidebar-label">Relatórios</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">

									<li class="">
										<a href="/menu/financeiro/atendporbene">
											<i class="menu-icon fa fa-file purple"></i>
											<label class="sidebar-label">Visto de Atendimentos</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="#">
											<i class="menu-icon fa fa-file purple"></i>
											<label class="sidebar-label">Receitas do Mês</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="#">
											<i class="menu-icon fa fa-file pink"></i>
											<label class="sidebar-label">Despesas do Mês</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="#">
											<i class="menu-icon fa fa-line-chart Blue"></i>
											<label class="sidebar-label">Balanço Mensal</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="#">
											<i class="menu-icon fa fa-balance-scale Yellow"></i>
											<label class="sidebar-label">Contábil</label>
										</a>

										<b class="arrow"></b>
									</li>

								</ul>
							</li>
							


						</ul>
					</li>

					<li class=""> <!-- /Menu Ferramentas Níveis-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-cogs brown"></i>

							<label class="sidebar-label">Ferramentas</label>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class=""><!-- /subMenu Terapias Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-book brown"></i>

									<label class="sidebar-label">Terapias</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a  href="/menu/ferramentas/terapia/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/terapia/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label"></label>Listar
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Horários Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-hourglass brown"></i>

									<label class="sidebar-label">Horários</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/horaage/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="/menu/ferramentas/horaage/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Ferramentas Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-building-o brown"></i>

									<label class="sidebar-label">Salas</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/sala/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="/menu/ferramentas/sala/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Especialidades Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-headphones brown"></i>

									<label class="sidebar-label">Graduação</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/especialidade/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/especialidade/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Especialização Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-headphones brown"></i>

									<label class="sidebar-label">Especialização</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/especializacao/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/especializacao/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Funções Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-gavel brown"></i>

									<label class="sidebar-label">Funçoes</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/funcao/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

	
									<li class="">
										<a href="/menu/ferramentas/funcao/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Perfis Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-key brown"></i>

									<label class="sidebar-label">Perfis</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/perfil/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/perfil/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Estados-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-globe brown"></i>

									<label class="sidebar-label">Estados</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/estado/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/estado/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>

							<li class=""><!-- /SubMenu Empresa Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-building-o brown"></i>

									<label class="sidebar-label">Empresa</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a  href="/menu/ferramentas/empresa/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>

										<li class="">
										<a href="/menu/ferramentas/empresa/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>



								</ul>
							</li>


							<li class=""><!-- /SubMenu Usuários Níveis-->
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-users brown"></i>

									<label class="sidebar-label">Usuários</label>
									<b class="arrow fa fa fa-caret-right"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/menu/ferramentas/usuario/cad">
											<i class="menu-icon fa fa-plus purple"></i>
											<label class="sidebar-label">Novo</label>
										</a>

										<b class="arrow"></b>
									</li>


									<li class="">
										<a href="/menu/ferramentas/usuario/lis">
											<i class="menu-icon fa fa-list pink"></i>
											<label class="sidebar-label">Listar</label>
										</a>

										<b class="arrow"></b>
									</li>


								</ul>
							</li>
							


						</ul>
					</li>

				    <li class=""><!-- /Menu Ajuda Níveis-->
					            <a href="/menu/ferramentas/ajuda">
						            <i class="menu-icon fa fa-life-ring red"></i>
						            <span class="menu-text"> 
									<label class="sidebar-label">Ajuda</label>
									</span>
					            </a>

					            <b class="arrow"></b>
				    </li>							



				    <li class=""><!-- /Menu Sair Níveis-->
					            <a href="#">
						            <i class="menu-icon fa fa-power-off black" ></i>
						            <span class="menu-text"> 
									<label class="sidebar-label">Sair</label>
									</span>
					            </a>

					            <b class="arrow"></b>
				    </li>

					


				</ul><!-- /.nav-list -->
<!-- /FIm do Menu -->




				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>




			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->