<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Escola</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content-inner">
				
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Escola Cadastro</li>
						</ul><!-- /.breadcrumb -->

				</div>




				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->


					<form class="form-horizontal" role="form" action="/menu/beneficiario/escola/add" method="POST">
						<div class="col-sm-12">
							<div class="tabbable">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a data-toggle="tab" href="#dados">
											<i class="red ace-icon fa fa-heartbeat bigger-120"></i>
											Dados Básicos
										</a>
									</li>

									<li>
										<a data-toggle="tab" href="#contato">
											Contato
											<i class="orange ace-icon fa fa-phone bigger-120"></i>
										</a>
									</li>

									<li>
										<a data-toggle="tab" href="#obs">
											Observações
												<i class="blue ace-icon fa fa-commenting-o bigger-120"></i>
										</a>
									</li>

								</ul>

								<div class="tab-content">
									<div id="dados" class="tab-pane fade in active">


											<label> Nome</label>
											<div class="form-group">
												<div class="col-sm-12">
													<input type="text" name="escolaNome" id="escolaNome"  class="form-control" />
												</div>
											</div>

											<label> Nome Fantasia</label>
											<div class="form-group">
												<div class="col-sm-12">
													<input type="text" name="escolaFantasia" id="escolaFantasia" placeholder="" class="form-control" />
												</div>
											</div>

									</div>




									<div id="contato" class="tab-pane fade">

										<div class="row">
											<div class="col-xs-10 col-sm-5">
												<label>Diretor(a)</label>
												<div class="input-group">
													<div >
														<input type="text" name="escolaCoordenador " class="form-control" style="width: 450px;" />
													</div>
												</div>
											</div>
											<div class="col-xs-10 col-sm-5">
												<label>WhatsApp</label>
												<div class="input-group">
													<div>
														<input type="text" name="escolaCoorwhatsapp " class="form-control"  style="width: 200px;"/>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-10 col-sm-5">
												<label>Coordenador(a)</label>
												<div class="input-group">
													<div >
														<input type="text" name="escolaProfessor " class="form-control" style="width: 450px;" />
													</div>
												</div>
											</div>
											<div class="col-xs-10 col-sm-5">
												<label>WhatsApp</label>
												<div class="input-group">
													<div>
														<input type="text" name="escolaProfwhatsapp " class="form-control"  style="width: 200px;"/>
													</div>
												</div>
											</div>
										</div>			
												
		
										<label>Telefone Fixo</label>
										<div class="form-group">
											<div class="col-sm-6">
												<input type="text" name="escolaFixo " class="form-control"/>
											</div>
										</div>


									</div>

									<div id="obs" class="tab-pane fade">

										<label> Observações </label>
										<div class="input-group">
											<div>
												<textarea type="text" name="escolaObs" id="escolaObs" placeholder="" class="form-control" style="width: 500px;"></textarea>
											</div>
										</div>

									
									</div>




								</div>
							</div>
						</div>


							
								<div class="space-4"></div>							
								<div class="space-4"></div>
	
									<div class="form-actions">
										<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>
	
										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  href="/menu/admin/branco">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>



						</form>
					</div>
				</div><!-- /.main-content -->


			</div><!-- /.main-container -->


		</div><!-- /.main-container -->

		<!-- basic scripts -->

	</body>
</html>
