<!DOCTYPE html>
<html lang="pt-br">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		

		<!--<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- JQUERY UI -->
  		<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>-->
		
		<!-- page tabelas plugin scripts -->


		<!--[if IE]>
				<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="/js/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
		<script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="/js/buttons.print.min.js"></script>
		<script type="text/javascript" src="/js/buttons.colVis.min.js"></script>
		<script type="text/javascript" src="/js/dataTables.select.min.js"></script>
		<script type="text/javascript" src="/js/jquery.knob.min.js"></script>

		
		
		<script src="/js/jquery-2.1.4.min.js"></script>
		<!-- page specific plugin scripts -->



		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<!-- ace settings handler -->
		<script type="text/javascript" src="/js/ace-extra.min.js"></script>
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/font-awesome/4.5.0/css/font-awesome.min.css" />
		<!-- page specific plugin styles -->
		<!-- text fonts -->
		<link rel="stylesheet" href="/css/fonts.googleapis.com.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/css/chosen.min.css" />
		<!-- Carrega div Conteudo com paginas html -->
		<script type = "text/javascript">
 			function carregar(pagina){ $("#conteudo").load(pagina);	}
			function formatar(mask,doc){
				var i = doc.value.length;
				var saida = mask.substring(0,1);
				var texto = mask.substring(i);

				if(texto.substring(0,1) != saida){
					doc.value += texto.substring(0,1);
				}
			}
			function procuraBiscoito(name){//apenas se estiver desabilitado httpOnly
				var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
				if (match) {
					console.log(match[2]);
					return match[2];
				} else {
					console.log('not found');
					return "";
				}
			}
			function controlaNave(){
				let biscoito = procuraBiscoito("lvlUsu");
				console.log("biscoito:"+biscoito);
				if (biscoito == "62421801a12aa557219a0fb9"){//Root
					//console.log("1: "+(biscoito== "62421801a12aa557219a0fb9")+"biscoito == 62421801a12aa557219a0fb9")
					document.getElementById("naveRoot").style.display = '';
					//console.log("naveTerapeuta");
				} else if (biscoito == "62421857a12aa557219a0fc1"){//Socios
					//console.log("2: "+(biscoito== "62421857a12aa557219a0fc1")+"biscoito == 62421857a12aa557219a0fc1")
					document.getElementById("naveSocios").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "624218f5a12aa557219a0fd0"){//Administradores e Financeiro
					//console.log("2: "+(biscoito== "624218f5a12aa557219a0fd0")+"biscoito == 624218f5a12aa557219a0fd0")
					document.getElementById("naveAdministradorEFinanceiro").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "62421903a12aa557219a0fd3"){//Terapeutas
					//console.log("2: "+(biscoito== "62421903a12aa557219a0fd3")+"biscoito == 62421903a12aa557219a0fd3")
					document.getElementById("naveTerapeuta").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "6242190fa12aa557219a0fd6"){//Recepcionistas
					//console.log("2: "+(biscoito== "6242190fa12aa557219a0fd6")+"biscoito == 6242190fa12aa557219a0fd6")
					document.getElementById("naveRecepcionista").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "6242191fa12aa557219a0fd9"){//AT
					//console.log("2: "+(biscoito== "6242191fa12aa557219a0fd9")+"biscoito == 6242191fa12aa557219a0fd9")
					document.getElementById("naveAT").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "644742e378166939169f82a1"){//Coordenador 644742e378166939169f82a1
					//console.log("2: "+(biscoito== "644742e378166939169f82a1")+"biscoito == 644742e378166939169f82a1")
					document.getElementById("naveCoordenador").style.display = '';
					//console.log("naveRoot");
				} else if (biscoito == "644743aa78166939169f8486"){//Supervisor
					//console.log("2: "+(biscoito== "644743aa78166939169f8486")+"biscoito == 644743aa78166939169f8486")
					document.getElementById("naveSupervisor").style.display = '';
					//console.log("naveRoot");
				} else {
					//console.log("3: "+(biscoito== "undefined")+"biscoito == undefined")
					document.getElementById("naveRoot").remove();
					document.getElementById("naveSocios").remove();
					document.getElementById("naveAdministradorEFinanceiro").remove();
					document.getElementById("naveTerapeuta").remove();
					document.getElementById("naveRecepcionista").remove();
					document.getElementById("naveAT").remove();
					document.getElementById("naveCoordenador").remove();
					document.getElementById("naveSupervisor").remove();
					//console.log("naveTerapeuta");
				}
			}
		</script>
	</head>
	<body class="no-skin">
		<div id="naveRoot" style="display: none;">
		{{>_navbar}}
		</div>
		<div id="naveSocios" style="display: none;">
		{{>_navbarSO}}
		</div>
		<div id="naveAdministradorEFinanceiro" style="display: none;">
		{{>_navbarAF}}
		</div>
		<div id="naveTerapeuta" style="display: none;">
		{{>_navbarT}}
		</div>
		<div id="naveRecepcionista" style="display: none;">
		{{>_navbarR}}
		</div>
		<div id="naveAT" style="display: none;">
		{{>_navbarAT}}
		</div>
		<div id="naveCoordenador" style="display: none;">
		{{>_navbarC}}
		</div>
		<div id="naveSupervisor" style="display: none;">
		{{>_navbarSU}}
		</div>
		<!--DIV para espaçamento entre nav e body-->
		<div style="margin-bottom: 75px;"></div>
		<!--validação-->
		{{#if success_msg}}
			<div class="alert alert-danger">{{success_msg}}</div>
		{{/if}}
		{{{body}}}
		
		


	</body>
	
	<br>
	<br>
	<div class="footer">
		<div class="footer-inner">
			<div class="footer-content">
				<span class="bigger-120">
					<span class="pink bolder">Soft</span>
					<span class="blue bolder">Route</span>
					- Sistema de Gestão Clínica e Suporte Documental &copy; 2022-2023
				</span>

				&nbsp; &nbsp;
				<span class="action-buttons">
					
				</span>
			</div>
		</div>
	</div>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script type="text/javascript"  src="/js/bootstrap.min.js"></script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
        <script src="/js/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sparkline.index.min.js"></script>
	<script type="text/javascript" src="/js/spinbox.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
    <!-- Editor de Textos plugin scripts -->
    <script type="text/javascript" src="/js/markdown.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-markdown.min.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.index.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-wysiwyg.min.js"></script>
    <script type="text/javascript" src="/js/bootbox.js"></script>
    <!-- ace scripts -->
    <script type="text/javascript" src="/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="/js/ace.min.js"></script>
    <!-- inline scripts related to this page -->

</html>