<!DOCTYPE html>
<html lang="pt=br">
	<head>
		<title>Ajuda</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Ferramentas</a>
							</li>
							<li class="active">Ajuda</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Pesquisar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content"> 

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="tabbable">
									<ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
										<li class="active">
											<a data-toggle="tab" href="#faq-tab-1"><!-- /.tab-geral -->
												<i class="blue ace-icon fa fa-question-circle bigger-120"></i>
												Geral
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-2"><!-- /.tab-agenda -->
												<i class="green ace-icon fa fa-calendar bigger-120"></i>
												Agenda
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-3"><!-- /.tab-atendimento -->
												<i class="orange ace-icon fa fa-coffee bigger-120"></i>
												Atendimento
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-4"><!-- /.tab-financeiro -->
												<i class="blue ace-icon fa fa-money bigger-120"></i>
												Financeiro
											</a>
										</li>

										<li>
											<a data-toggle="tab" href="#faq-tab-5"><!-- /.tab-sobre -->
												<i class="pink ace-icon fa fa-comment bigger-120"></i>
												Sobre
											</a>
										</li>

									</ul>

									<div class="tab-content no-border padding-24">
										<div id="faq-tab-1" class="tab-pane fade in active"><!-- /.pane-geral -->
											<h4 class="blue">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Perguntas Gerais
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-1" data-parent="#faq-list-1-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; O que Temos no SoftRoute na Versão Beta em Produção 1.0
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-1">
														<div class="panel-body">
															O SoftRoute Hoje, 18/04/2022 temos três módulos: <b>Agendamento</b>, <b>Atendimento e <b>Financeiro.</b></b><br>
															O agendamento consiste no projeto, criação e manutenção da agenda, vínculados a quatidade de sessões estabelecidas<br>
															para cada Beneficiário via liminar, bem como a visualização e conversão dos agendamentos em atendimentos.<br>
															Já os <b>Atendimentos</b> gerencia a conclusão do agendamento, gera as contas a receber oriundas do agendamento, pagos por particular ou pelos convênios, 
															bem como as contas a pagar aos terpeutas, incluindo o gerenciamento e alertas das evoluções (descrição dos atendimentos).
															Vale resaltar que, os dois módulos juntos geram o <b>financeiro</b> e relatório de controle de sessões e aceite.<br>
															O <b>financeiro</b> consiste:<br>
															Tabela de Valores de Receita de Convênio;<br>
															Tabela de Valores a Pagar pelo Atendimento Realizado;<br>
															Fornecedores para despesas nãoa treladas ao atendimento, como exemplo, compesa, Operadora de celular, Colaboradores diversos;<br>
															Lista de Receitas;<br>
															Lista de Despesas;<br>
															<be>Atendimento Administrativo;</br>
															Relatórios de: Despesas, Receitas, e Relatório de Exportação Contabil.<br>
															
														</div>
													</div>
												</div>
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-2" data-parent="#faq-list-1-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Como funciona a navegação pelo sistema?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-2">
														<div class="panel-body">
															A Navegação é baseada em menus, disposto no lado esquerdo, separado por funcionalidades, Vale salientar que esses menus são filtrados por usuários, regidos pela sessão quando o usuário se loga no sistema.
															Ou seja, dependendo do seu nivel de usuário e função algumns menus estarão ou não disponíveis.
														
														</div>
													</div>
												</div>											

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-3" data-parent="#faq-list-1-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Todos os Usuários ou seja funcionários estão cacdastrados?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-3">
														<div class="panel-body">
															Sim! mas terão que atualizar suas informações quando se logarem.
																													
														</div>
													</div>
												</div>											
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-4" data-parent="#faq-list-1-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp;Achei um erro, e agora?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-4">
														<div class="panel-body">
															Entre em contato com Wagner via Whatsapp, informa o erro! e trabalharemos para resolvê-lo.
																													
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-5" data-parent="#faq-list-1-5" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp;Requerimentos do Sistema?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-5">
														<div class="panel-body">
															Qualquer Plataforma em teoria pode Acessar: PC, Notebook, Tablet e Smartfone.<br>
															Mas precisa de um navegador, preferencialmente o Chrome ou Opera.
															Internet Banda Larga<br>
															4gb de RAM para PCs e Notebooks.

																													
														</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-1-6" data-parent="#faq-list-1-6" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp;Posso trabalhar no sistema em casa?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-1-6">
														<div class="panel-body">
															Sim! desde de que tenha Internet, Acesso ao sistema e autorização para isso.

																													
														</div>
													</div>
												</div>

		
											</div>

											

										</div>

										<div id="faq-tab-2" class="tab-pane fade"><!-- /.pane-agendamento -->
											<h4 class="blue">
												<i class="green ace-icon fa fa-calendar bigger-110"></i>
												Perguntas sobre Agendamentos
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-1" data-parent="#faq-list-2-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Se eu criar ou alterar a agenda, os participantes serão avisados?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-1">
														<div class="panel-body">
															Sim! dentro da plataforma terão um alerta no canto superior direito, informando sobre o novo agendamento ou alteração.<br>
																O Alerta é dividido em duas categvorias, Agendamento e Atendimento.
																Agendamento: É alertado em caso de novo agendamento para o Terapeuta ou alteração sobre o agendamento.<br>
																Atendimento: É alertado em caso de alteração sobre o Atendimento.<br>

														</div>
													</div>
												</div>												
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-2" data-parent="#faq-list-2-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; 
															Para realizar clonagem dos agendamento da semana, como proceder?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-2">
														<div class="panel-body">
															A clonagem ou cópia é realizada por semana, você escolhe o dia na agenda que quer copiar e a semana pertencente aquele dia sera copiada.<br>
															<b>Lembre-se</b> de revisar a cópia realizada.
														</div>
													</div>
												</div>												
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-2-3" data-parent="#faq-list-2-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Posso criar os agendamento de casa?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-2-3">
														<div class="panel-body">
															Sim! desde de que tenha Internet, Acesso ao sistema e autorização para isso.
														</div>
													</div>
												</div>												
											
											
											
											
											</div>
										
										
										
										
										</div>

										<div id="faq-tab-3" class="tab-pane fade"><!-- /.pane-atendimento-->
											<h4 class="blue">
												<i class="orange ace-icon fa fa-coffee bigger-110"></i>
												Perguntas sobre Atendimento
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
												
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-1" data-parent="#faq-list-3-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Posso inserir a evolução do atendimento mais tarde?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-1">
														<div class="panel-body">
															Sim! mas ficará uma pendência em seu histórico e notificará a adiministração até você cadastrar a evolução do atendimento.
														</div>
													</div>
												</div>	

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-3-2" data-parent="#faq-list-3-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Onde cadastro os atendimentos especiais, quando há uma falta por exemplo?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-3-2">
														<div class="panel-body">
															No menu Financeiro, há o <b>Atendimento Administrativo</b>, lá tem todos os tipos especiais de atendimento, somente adicionados ou editados pelos administrativos.
														</div>
													</div>
												</div>
											
											
											</div>
										
										
										
										</div>

										<div id="faq-tab-4" class="tab-pane fade"><!-- /.pane-financeiro -->
											<h4 class="blue">
												<i class="purple ace-icon fa fa-money bigger-110"></i>
												Perguntas sobre Financeiro
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-hand-o-right" data-icon-hide="ace-icon fa fa-hand-o-down" data-icon-show="ace-icon fa fa-hand-o-right"></i>&nbsp;
															Qual parte do financeiro temos hoje, dia 18/04/2022?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-4-1">
														<div class="panel-body">
															Temos os relatórios e Listagens:<br>
															- Aceite de Atendimentos<br>
															- Valores de Atendimento por Convênio<br/>
															- Lista de Débitos com os valores a pagar aos terapeutas<br>
															- Lista com os créditos com os valores a receber dos convênios e particulares.
														</div>
													</div>
												</div>


											</div>
										</div>

										<div id="faq-tab-5" class="tab-pane fade"><!-- /.pane-atendimento-->
											<h4 class="blue">
												<i class="orange ace-icon fa fa-coffee bigger-110"></i>
												Sobre
											</h4>

											<div class="space-8"></div>

											<div id="faq-list-5" class="panel-group accordion-style1 accordion-style2">
												
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-5-1" data-parent="#faq-list-5-1" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Desenvolvido por:
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-5-1">
														<div class="panel-body">
															<b>Cintra Soluções em Tecnologia</b></br>
																CNPJ: 33.896.319/0001-04</br>
																www.cintrasolucoes.com.br
																Mobile: +55 81 9 9898 5934</br>
															<div class="space-8"></div>
															<b>Wagner Cintra de Freitas</b></br>
																CPF: 832.005.924-00</br>
															    Bacharel de Sistema de Informação</br>
															    wcfcintra@gmail.com</br>
																Mobile: +55 81 9 9898 5934</br>
															<div class="space-8"></div>
															<b>Victor Andrade Cintra de Freitas</b></br>
																Bacharel de Sistema de Informação (Em Andamento)</br>
															    victorcintrafreitas@gmail.com</br>
																Mobile: +55 81 9 9991 5332</br>
														</div>
													</div>
												</div>	

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-5-2" data-parent="#faq-list-5-2" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Plataforma de Desenvolvimento:
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-5-2">
														<div class="panel-body">
															Node JS</br>
															JavaScript</br>
															Angular</br>
															Html</br>
															Bootstrap</br>
															CSS</br>
															SGDB: MongoDb</br>
															Serviços na Nuvem: AWS - Amazon Web Services</br>
														</div>
													</div>
												</div>
											
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-5-3" data-parent="#faq-list-5-3" data-toggle="collapse" class="accordion-toggle collapsed">
															<i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

															<i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
															&nbsp; Licenciado para:
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-5-3">
														<div class="panel-body">
															Route Centro de Terapia e Apoio Infantil Ltda.</br>
															CNPJ: 33.346.423/0001-17 </br>
															Endereço: Rua Jose Paraiso, 207</br>
															Bairro: Boa Viagem</br>
															Cidade: Recife</br>
															Estado: PE</br>
															Cep: 51030-390</br>
															Contato: (81) 3428-0982</br>
														</div>
													</div>
												</div>

											</div>
										
										
										
										</div>




									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">SoftRout</span>
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
