<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL</title>
		<style>
			@media print {
               .noprint {
                  display: none;
               }
            }
			
		</style>
		<script type="text/javascript">
			function atualizaDataIni(){
				let fulldate = (document.getElementById('dataFilDe').value+' 00:00:00.000Z').toString();
				document.getElementById('dataIni').value = fulldate;
			}
			function atualizaDataFin(){
				let fulldate = (document.getElementById('dataFilAte').value+' 00:00:00.000Z').toString();
				document.getElementById('dataFim').value = fulldate;
			}
		</script>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner noprint">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs" style="display: none">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-map"></i>
							</li>
							<li class="active">RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL</li>
						</ul><!-- /.breadcrumb -->
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
									<div style="text-align: center;">
										<img width="280" height="120" alt="150x150" style="alight: center" src="/images/gallery/logo_route_centro.png">
									</div>
										<div >
											<h1 div style="text-align: center;" style="font-size:x-large;">
												<br>
												<br>
												<br>
												<br>
												<br>
												<br>
												<br>
												RELATÓRIO DE ACOMPANHAMENTO 
												<br>
												<br>
												<br>
												<br>
											</h1>

											<h2 style="text-align: center;">
												{{bene.bene_nome}}<br>
											<h2>
											<h3 style="text-align: center;">
												{{relsem.relsem_mes}}<br>
												<br>
												<br>
											</h3>
												
										</div>
																					
										
									
									<div class="widget-body" >
										<div class="widget-main padding-24">
											
												<div class="row" style="text-align: center;" width="2480px;" height="133" background-img="/images/gallery/rodapeRoute_relsem.png"><!-- Área reservada para Assinaturas -->
																			
													<div class="space space-32"></div>
													<div class="col-xs-4 col-sm-4">
														<div class="hr"></div>
														<label>Rua José Paraíso, 207A<br>
														Boa Viagem - Recife - PE<br>
														CEP 51.030-390</label>
													</div>
													<div class="col-xs-4 col-sm-4">
														<div class="hr"></div>
														<i class="ace-icon fa fa-instagram bigger-130 orange"></i><label>&nbsp;route_clinica</label><br>
														<i class="ace-icon fa fa-globe bigger-130 blue"></i><label>&nbsp;clinicaroute.com.br</label><br>
													</div>
													<div class="col-xs-4 col-sm-4">
														<div class="hr"></div>
														<i class="ace-icon fa fa-phone bigger-130 red"></i><label>&nbsp;+55 81 9 9414-7557</label><br>
														<i class="ace-icon fa fa-envelope-o bigger-130 brown"></i><label>&nbsp;routeterapia@gmail.com</label><br>
													</div>
													
												</div><!-- /.Área reservada para Assinaturas -->
											
										</div>
									</div>
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
