<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Relatório Semestral</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Relatório acompanhamento semestral</a>
							</li>

							<li class="active">Cadastro</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/area/relsem/add" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-bookmark-o"></i>
													RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													<div class="row">
														<div class="col-sm-3">
															<label for="id-date-picker-1"> Data </label>
															<div class="row">
																<div class="input-group">
																	<div class="col-sm-4">
																		<input id="relsemData" name="relsemData" type="date">
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-sm-3">
															<label for="id-date-picker-1"> Ano e mês de referência</label>
															<div class="row">
																<div class="input-group">
																	<div class="col-sm-3">
																		<input id="relsemMes" name="relsemMes" type="text" placeholder="0000/00">
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-sm-6">
															<label> Beneficiário</label>
															<div class="form-group">
																<div class="col-sm-4">
																	<select name="relsemBeneid" id="relsemBeneid" class="chosen-select" data-placeholder="Escolha..." >
																		<option value="-">-</option>
																		{{#each benes}}
																			<option value="{{_id}}">{{bene_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>

														
													</div>

													<div class="row">
														<div class="col-sm-6">
															<label> Terapeuta</label>
															<div class="form-group">
																<div class="col-sm-6">
																	<select name="relsemTerapeutaid" id="relsemTerapeutaid" class="chosen-select" data-placeholder="Escolha..." >
																		<option value="-">-</option>
																		{{#each terapeutas}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
														
														<div class="col-sm-5">
															<label> Nº Conselho</label>
															<div class="form-group">
																<div class="col-sm-5">
																	<input type="text" name="relsemConselho" id="relsemConselho" class="form-control" />
																</div>
															</div>
														</div>

														<div class="col-sm-6">
															<label> Terapia</label>
															<div class="form-group">
																<div class="col-sm-6">
																	<input type="text" name="relsemTerapia" id="relsemTerapia" class="form-control" />
																</div>
															</div>
														</div>

														<div class="col-sm-12">
															<label> Relatório</label>
															<div class="form-group">
																<div class="col-sm-12" >
																	<textarea type="text" data-placeholder="-" name="relsemDesc" id="relsemDesc" placeholder="-" class="form-control" rows="62"  ></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
								</div>
								
								

								<div class="row">
									<div clas="col-sm-12">
										
										<div class="form-actions">
											<div  style="text-align: center;" >

												<button class="btn btn-info" name="acao" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i>
													Salvar
												</button>
												&nbsp; &nbsp; &nbsp;
												<button class="btn btn-warning"  type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Cancelar
												</button>
											</div>
										</div>
										
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
