<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL</title>
		<style>
			/* Estilos gerais para o cabeçalho e o rodapé */
			#cabecalho-imagem, #rodape {
				margin: 0; /* Margem inicial zero */
				text-align: left; /* Alinhamento à esquerda */
				width: 100%; /* Ocupar toda a largura */
			}

			/* Estilos para o conteúdo da página */
			#conteudo {
				padding-top: 100px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 30px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
			}

			/* Estilos específicos para a visualização de impressão */
			@media print {
				#cabecalho-imagem {
				position: fixed;
				top: 0;
				}

				#rodape {
				position: fixed;
				bottom: 0;
				}
			}
		</style>
		
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<header id="cabecalho-imagem">
					<img src="/images/gallery/cabecalhoRoute_relsem.png" alt="Descrição da imagem">
				</header>
				<div class="main-content-inner noprint">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs" style="display: none">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-map"></i>
							</li>
							<li class="active">RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL</li>
						</ul><!-- /.breadcrumb -->
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
									
										<div >
											<h1 div style="text-align: center;" style="font-size:x-large;">
												<br>
												<br>
												<br>
												<br>
												<br>
												<br>
												<br>
												RELATÓRIO DE ACOMPANHAMENTO 
												<br>
												<br>
												<br>
												<br>
											</h1>

											<h2 style="text-align: center;">
												{{bene.bene_nome}}<br>
											<h2>
											<h3 style="text-align: center;">
												{{relsem.relsem_mes}}<br>
												<br>
												<br>
											</h3>
												
										</div>
																					
										
									<footer id="rodape">
										<div class="widget-body" >
											<div class="widget-main padding-24">
												<div class="row" style="align: center; width:max-content; height:133px;" ></div>
													<img src="/images/gallery/rodapeRoute_relsem.png">
												</div><!-- /.Área reservada para Assinaturas -->
											</div>
										</div>
									</footer>
									
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
