<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cadastrar Chave</title>
		<script type="text/javascript">
			
			function verificaCaracteres(usuarioChave){
				let palavra = document.getElementById(usuarioChave).value;

				let checkLength = false;
				let checkMinusculo = false;
				let checkMaiusculo = false;
				let checkNumero = false;
				let checkNAlpha = false;
				
				let tudoOk = false;

				const regexMinusculo = /[a-z]/;
				const regexMaiusculo = /[A-Z]/;
				const regexNumero = /[0-9]/;
				const regexNAlpha = /\W|_/;

				if (palavra.length > 11){
					console.log("TRUE palavra.length: "+palavra);
					document.getElementById("verComprimento").checked = true;
					checkLength = true;
				} else {
					console.log("FALSE palavra.length: "+palavra);
					document.getElementById("verComprimento").checked = false;
					checkLength = false;
				}
				if (regexMinusculo.test(palavra)){
					console.log("TRUE regexMinusculo.test(palavra): "+palavra);
					document.getElementById("verLetramin").checked = true;
					checkMinusculo = true;
				} else {
					console.log("FALSE regexMinusculo.test(palavra): "+palavra);
					document.getElementById("verLetramin").checked = false;
					checkMinusculo = false;
				}
				if (regexMaiusculo.test(palavra)){
					console.log("TRUE regexMaiusculo.test(palavra): "+palavra);
					document.getElementById("verLetramai").checked = true;
					checkMaiusculo = true;
				} else {
					console.log("FALSE regexMaiusculo.test(palavra): "+palavra);
					document.getElementById("verLetramai").checked = false;
					checkMaiusculo = false;
				}
				if (regexNumero.test(palavra)){
					console.log("TRUE regexNumero.test(palavra): "+palavra);
					document.getElementById("verLetranum").checked = true;
					checkNumero = true;
				} else {
					console.log("FALSE regexNumero.test(palavra): "+palavra);
					document.getElementById("verLetranum").checked = false;
					checkNumero = false;
				}
				if (regexNAlpha.test(palavra)){
					console.log("TRUE regexNAlpha.test(palavra): "+palavra);
					document.getElementById("verLetraesp").checked = true;
					checkNAlpha = true;
				} else {
					console.log("FALSE regexNAlpha.test(palavra): "+palavra);
					document.getElementById("verLetraesp").checked = false;
					checkNAlpha = false;
				}

				if (checkLength && checkMinusculo && checkMaiusculo && checkNumero && checkNAlpha){
					return true;
				} else {
					return false;
				}
			}

			function comparaChaves(usuarioChave, usuarioChaverepetida){
				let palavra = document.getElementById(usuarioChave).value;
				let repetir = document.getElementById(usuarioChaverepetida).value;

				if (verificaCaracteres(usuarioChave)){
					if (palavra !== repetir){
						alert("ERRO: As palavras devem coincidir!");
						return false;
					} else {
						return true;
					}
				}
			}

			function submitForm(){
				if (comparaChaves("usuarioChave", "usuarioChaverepetida")) {
					let form = document.getElementById("formCadastrarChave");
					form.action = "/menu/ferramentas/usuario/cadastraChave";
					form.submit();
				}
			}
		
		</script>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Cadastrar Chave</a>
							</li>

							<li class="active"> - Aqui você cadastra sua Chave</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form id="formCadastrarChave" name="formCadastrarChave" class="form-horizontal" role="form" method="POST">

								<div class="col-xs-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="red ace-icon fa fa-key bigger-110"></i>
												
												Cadastrar Nova Chave</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
                                                    A Chave é sua assinatura eletrônica dentro do SisRoute, <br>
                                                    Ela é usada somente para alterar sua senha de acesso ao sistema ou confirmar cadastro de relatórios.<br>
                                                    Portanto deve ser segura e jamais deve ser compartilhada.<br>
                                                    <strong>Ela só pode ser criada nas dependências administrativas da ROUTE.</strong><br>
                                                    <strong>E não deve ser salva em navegadores, sistemas de controle de senha, em celulares etc.</strong><br>
                                                    Deve conter letras Maiúsculas e minúsculas, números e caracteres especiais como: , . ; : - = ! @ # $ % ¨ & * ) (<br>
                                                    O sistema irá testar sua nova chave, se considerar fraca, ele reseta e você deverá criar uma nova compatível.


												</div>
												<!--
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label> Id Usuário administrativo acompanhante:</label>
														<div class="row">
															<div class="input-group">
																<div class="col-sm-1">
																	<input type="text" name="usuarioIdacomp" id="usuarioIdacomp"  class="form-control" style="width: 200px;" />
																</div>
															</div>
														</div>
													</div>
												</div>
												-->
												<div class="row">
													<div class="col-xs-12" >
														<label>Usuário</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select id="usuarioId" name="usuarioId" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	{{#each usuarios}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Palavra Chave</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="usuarioChave" id="usuarioChave" type="password" placeholder=" " style="width: 200px;" oninput="javascript:verificaCaracteres('usuarioChave');">
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Repetir Palavra Chave</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="usuarioChaverepetida" id="usuarioChaverepetida" type="password" placeholder=" " style="width: 200px;" onchange="javascript:comparaChaves('usuarioChave','usuarioChaverepetida')" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row"><!-- /.Verificação de Chave -->
													<div class="col-sm-6">	
														<table id="dynamic-table" class="table table-striped table-bordered table-hover">
														<thead>
															<h5 class="widget-title bigger lighter">
																<i class="ace-icon fa fa-table"></i>
																Verificação de Chave
															</h5>
															<tr>
																<th style="width: 50px;">
																	Marco
																</th>
																<Th>
																	Descrição
																</Th>

															</tr>
															
														</thead>
														<tbody>
															<tr><!-- 1Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetramin" id="verLetramin" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-danger">Ao menos 2 Letras minúsculas</span>
																</td>
																
															</tr>
															<tr><!-- 2Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetramai" id="verLetramai" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-warning">Ao menos 2 Letras MAIÚSCULAS</span>
																</td>
															</tr>
															<tr><!-- 3Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetranum" id="verLetranum" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-success">Ao menos 2 Números</span>
																</td>
															</tr>
															<tr><!-- 4Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetraesp" id="verLetraesp" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-info">Ao menos 2 Caracteres Especiais</span>
																</td>
															</tr>
															<tr><!-- 4Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verComprimento" id="verComprimento" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-pink">Tamanho mínimo de 12 Caracteres</span>
																</td>
															</tr>
														</tbody>
														</table>
													</div>
												</div>
												
												

											</div>
										</div>		
									</div>
								</div>
			
							

								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" onclick="javascript:submitForm();">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>