<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cadastrar Chave</title>
		<script type="text/javascript">
			
			
		
		</script>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Cadastrar Chave</a>
							</li>

							<li class="active"> - Aqui você cadastra sua Chave</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/ferramentas/usuario/cadastraChave" method="POST">

								<div class="col-xs-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="red ace-icon fa fa-key bigger-110"></i>
												
												Cadastrar Nova Chave</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
                                                    A Chave é sua assinatura eletrônica, <br>
                                                    Ela é usada somente para alterar sua senha de acesso ao sistema ou confirmar cadastro de relatórios.<br>
                                                    Portanto deve ser segura e jamais deve ser compartilhada.<br>
                                                    <strong>Ela só pode ser criada nas dependências administrativas da ROUTE.</strong><br>
                                                    <strong>E não deve ser salva em navegadores, sistemas de controle de senha, em celulares etc.</strong><br>
                                                    Deve conter letras Maiúsculas e minúsculas, números e caracteres especiais como: , . ; : - = ! @ # $ % ¨ & * ) (<br>
                                                    O sistema irá testar sua nova chave, se considerar fraca, ele reseta e você deverá criar uma nova compatível.


												</div>
												<div class="row">
														<div class="col-xs-12 col-sm-6">
															<label> Id Usuário administrativo acompanhante:</label><!--Usuário acompanhante do cadastro da chave-->
															<div class="row">
																<div class="input-group">
																	<div class="col-sm-1">
																		<input type="text" name="usuarioIdacomp" id="usuarioIdacomp"  class="form-control" style="width: 200px;" />
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<label for="id-date-picker-1">Data cadastro:</label><!--data e hora do cadastro da chave-->
															<div class="row">
																<div class="input-group">
																	<div class="col-sm-4">
																		<input id="usuarioDatacadchave" name="usuarioDatacadchave" type="date">
																	</div>
																</div>
															</div>
														</div>
													</div>
												
												
												
												<div class="row">
													<div class="col-xs-12" >
														<label>Usuário</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select id="usuarioId" name="usuarioId" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	{{#each usuarios}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Palavra Chave</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="usuarioChave" id="usuarioChave" type="password" style="width: 200px;" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Repetir Palavra Chave</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="usuarioChaverepetida" id="usuarioChaverepetida" type="password" style="width: 200px;" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row"><!-- /.Verificação de Chave -->
													<div class="col-sm-6">	
														<table id="dynamic-table" class="table table-striped table-bordered table-hover">
														<thead>
															<h5 class="widget-title bigger lighter">
																<i class="ace-icon fa fa-table"></i>
																Verificação de Chave
															</h5>
															<tr>
																<th style="width: 50px;">
																	Marco
																</th>
																<Th>
																	Descrição
																</Th>

															</tr>
															
														</thead>
														<tbody>
															<tr><!-- 1Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetramin" id="verLetramin" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-danger">Letras minúsculas</span>
																</td>
																
															</tr>
															<tr><!-- 2Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetramai" id="verLetramai" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-warning">Letras MAIÚSCULAS</span>
																</td>
															</tr>
															<tr><!-- 3Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetranum" id="verLetranum" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-success">Números</span>
																</td>
															</tr>
															<tr><!-- 4Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetraesp" id="verLetraesp" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-info">Caracteres Especiais</span>
																</td>
															</tr>
															<tr><!-- 4Reg -->
																<td>
																	<div class="checkbox">
																		<label class="block">
																			<input name="verLetra8" id="verLetra8" type="checkbox" class="ace ">
																			<span class="lbl small"></span>
																		</label>
																	</div>
																</td>
																<td>	
																	<span class="badge badge-pink">Tamanho mínimo de 8 Caracteres</span>
																</td>
															</tr>
														</tbody>
														</table>
													</div>
												</div>
												
												

											</div>
										</div>		
									</div>
								</div>
			
							

								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>