<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Apagar Chave</title>
		<script type="text/javascript">
			
			
		
		</script>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Apagar Chave</a>
							</li>

							<li class="active"> - Aqui você cadastra sua Chave</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/ferramentas/usuario/apagarChave" method="POST">

								<div class="col-xs-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="black ace-icon fa fa-times bigger-110"></i>
												
												Apagar Chave</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
                                                    A Chave é a assinatura eletrônica, <br>
                                                    Se for apagada o usuário deixará de acessar o sistema, mesmo que tenha senha e email.<br>
													O mesmo deverá comparecer ao administrativo da Route para criar uma nova chave e voltar a ter acesso ao sistema.<br>
													Só deve ser feito, se somente se, o usuário perder a chave ou "suspeitar" que a chave foi de alguma forma comprometida,<br>
													ou suspensão do acesso do usuário pela diretoria.<br>


												</div>
												<!--
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label> Id Usuário administrativo responsável por apagar a chave:</label>
														<div class="row">
															<div class="input-group">
																<div class="col-sm-1">
																	<input type="text" name="usuarioIdacomp" id="usuarioIdacomp"  class="form-control" style="width: 200px;" />
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Data de apagamento da chave:</label>
														<div class="row">
															<div class="input-group">
																<div class="col-sm-4">
																	<input id="usuarioDataresetchave" name="usuarioDataresetchave" type="date">
																</div>
															</div>
														</div>
													</div>
												</div>
												-->
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label> Usuário que a chave será apagada:</label><!--Usuário acompanhante do cadastro da chave-->
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<select id="usuarioId" name="usuarioId" class="chosen-select" data-placeholder="Escolha...">
																		<option value="-">-</option>
																		{{#each usuarios}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-4">
														<label>Repetir usuário que terá a chave apagada:</label><!--data e hora do cadastro da chave-->
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<select id="usuarioId" name="usuarioId" class="chosen-select" data-placeholder="Escolha...">
																		<option value="-">-</option>
																		{{#each usuarios}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
											
												
												<div class="row">
													<div class="col-xs-12" >
														<label>Senha do usuário responsável:</label>
														<div class="form-group">
															<div class="col-sm-6">
																<input name="usuarioSenha" id="usuarioSenha" type="password" style="width: 200px;" >
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>		
									</div>
									<hr>
								</div>

								<div class="form-actions">
									<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Apagar !
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>