<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Gráfico do Programa ABA</title>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Gráfico do Programa ABA
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Cadastro e Índice Geral Gráfico do Programa ABA
							</small>
						</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal" role="form" action="" method="POST">
								<div class="col-xs-12">
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="red ace-icon fa fa-bookmark-o bigger-110"></i>
												
												Cabeçalho</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<div class="col-xs-12" class="row">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														<strong>Observação! </strong>
														Aqui você cadastra informações Gráfico do Programa ABA
														<br>
													</div>
												</div>

											
													
												
													<div class="col-xs-12" class="row">
														
														<div class="col-xs-12 col-sm-2">
															<label for="id-date-picker-1">Data do Registro</label>
															<div class="row">
																<div class="col-sm-4">
																	<div class="input-group">
																		<input name="folRegdata" id="folRegdata" type="date" onchange="javascript:atualizaData()" />
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-2">
															<label for="id-date-picker-1">Hora do Registro</label>
															<div class="row">
																<div class="col-sm-4">
																	<div class="input-group">
																		<input name="folRegdata" id="folRegdata" type="text"  />
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-4">
															<label>Beneficiário</label>
															<div class="form-group">
																<div class="col-sm-8">
																	<select name="folRegBeneid" id="folRegBeneid" class="chosen-select" data-placeholder="Escolha..." >
																		{{#each benes}}
																			<option value="{{_id}}">{{bene_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>												
														<div class="col-xs-12 col-sm-4">
															<label>Técnico Aplicador</label>
															<div class="form-group">
																<div class="col-sm-8">
																	<select name="folRegterapeutaid" id="folRegterapeutaid" class="chosen-select" data-placeholder="Escolha..." >
																		{{#each terapeutas}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>																								
													
													</div>

													<label>Observações:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="folRegobs" id="folRegobs" placeholder="" class="form-control" rows="3"  data-iconlibrary="fa">
															</textarea>
														</div>
													</div>
													<label>Ordem das cores para o registro no Gráfico do Programa diário</label>
													<div class="col-xs-8" class="row">
														<div class="col-xs-1col-sm-1">
															<label>( I )</label>
															<div class="form-group">
																<div class="col-sm-2">
																	<div style="width:4px;height:0;border:5px solid #66ff06;overflow:hidden"></div>
																</div>
															</div>
														</div>
														<div class="col-xs-1 col-sm-1">
															<label>( + d )</label>
															<div class="form-group">
																<div class="col-sm-2">
																	<div style="width:4px;height:0;border:5px solid #ff8f06;overflow:hidden"></div>
																</div>
															</div>
														</div>	
														<div class="col-xs-1 col-sm-1">
															<label>( E )</label>
															<div class="form-group">
																<div class="col-sm-2">
																	<div style="width:4px;height:0;border:5px solid #fffb06;overflow:hidden"></div>
																</div>
															</div>
														</div>	
														<div class="col-xs-1 col-sm-1">
															<label>(- d)</label>
															<div class="form-group">
																<div class="col-sm-2">
																	<div style="width:4px;height:0;border:5px solid #ff4d06;overflow:hidden"></div>
																</div>
															</div>
														</div>		
													
													</div>
													
												

												</div>
											</div>		
									</div>
											

											</div>
										</div>		
									</div>
								</div>
								<div class="col-xs-3">
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="red ace-icon fa fa-bookmark-o bigger-110"></i>
												
												Gráfico Diário</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<table class="table table-sm table-bordered" style="font-size: 9px;" id="dynamic-table" role="grid" aria-describedby="dynamic-table_info">
													<thead>
														<tr role="row">	
															<th tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1"><b>P</b></th>
														</tr>
													</thead>
													<tbody>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
														<tr role="row" class="odd">
															
															<td name="dia" rowspan="1" style="width: 40px;">
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="I">I</option>
																	<option value="+d">+d</option>
																	<option value="E">E</option>
																	<option value="-d">-d</option>
																</select>
															</td>													
															
														</tr>
													</tbody>
												</table>
											</div>
										</div>		
									</div>
								</div>	
								<div class="col-xs-12">
									<br>
								</div>
								<div class="col-md-offset-3 col-md-12">
									<button class="btn btn-info" name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"  type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</form>
						</div>
					</div>
				</div><!-- /.main-container -->
			</div><!-- /.main-content -->
		</div>
	</body>
</html>