<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>VB-MAPP</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Formulário de Avaliação VB-MAPP
						
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/area/mapp/add" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-bookmark-o"></i>
													Cabeçalho do VB-MAPPs
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
												
																									<div class="row">
													<div class="col-xs-12">
														<div class="row">
															<div class="col-xs-6 col-sm-6">
																<label>Beneficiário</label>
																<div class="form-group">
																	<div class="col-sm-6">
																		<select name="carsBeneid" id="carsBeneid" class="chosen-select" dcars-placeholder="Escolha..." >
																			{{#each Benes}}
																				<option value="{{_id}}">{{bene_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-4 col-sm-2">
																<label> Sexo</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-2">
																			<select name="carsBenesexo" id="carsBenesexo" class="chosen-select" dcars-placeholder="Escolha..."value="-" >
																						<option value="-">-</option>
																						<option value="F">Feminino</option>
																						<option value="M">Masculino</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-4">
																<label for="id-date-picker-1">Data Nascimento</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-4">
																			<input id="carsdcarsnasc" name="carsdcarsnasc" type="date">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-4 col-sm-4">
																<label> Idade</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-2">
																			<input type="text" name="carsidade" id="carsidade" placeholder="" class="form-control" style="width: 300px;"/>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="id-date-picker-1">Preenchido por:</label>
																<div class="row">
																	<div class="col-sm-6">
																		<div class="input-group">
																			<input name="carspreenchido" id="carspreenchido" type="text"  />
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-2">
																<label for="id-date-picker-1">Parentesco</label>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="input-group">
																			<input name="carsparen" id="carsparen" type="text"  />
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">													
															<div class="col-xs-12 col-sm-4">
																<label>Técnico Acompanhante</label>
																<div class="form-group">
																	<div class="col-sm-8">
																		<select name="carsterapeutaid" id="carsterapeutaid" class="chosen-select" dcars-placeholder="Escolha..." value="-">
																			{{#each Terapeutas}}
																				<option value="{{_id}}">{{usuario_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>																								
														</div>
														<div class="row">
															<div class="col-xs-12">
																<label> Informações iniciais adicionais </label>
																<div class="form-group">
																	<div class="col-sm-12">
																		<textarea type="text" name="carsInfoinicars" id="carsInfoinicars" row="3" placeholder="" class="form-control" ></textarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

													<label> Assunto:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<textarea type="text" name="mappAssunto" id="mappAssunto" class="form-control" /></textarea>
														</div>
													</div>
												
												</div>
											</div>
										</div>	
											

										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													DESCRIÇÃO DA DEMANDA
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Descrição </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappDesc" id="mappDesc" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													PROCEDIMENTO
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Procedimento </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappProced" id="mappProced" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
							
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													AVALIAÇÃO DE HABILIDADES ATRAVÉS DO VB-MAPP 
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														
														O protocolo VB-MAPP foi aplicado com o objetivo de mapear as habilidades de beneficiário no que diz respeito ao comportamento verbal. 
														Este protocolo procura determinar em que nível as habilidades do beneficiário se encontra, 
														oferecendo um guia em termos de quais habilidades precisam ser foco da intervenção e em que nível da habilidade a intervenção deverá começar a ocorrer. 
														As 16 habilidades avaliadas pelo VB-MAPP são: mando, tato, intraverbal, ecoico, imitação motora, leitura, escrita, resposta de ouvinte,
														 comportamento de ouvinte por função característica ou classe (LRFFC), 
														 habilidade de percepção visual e matching to sample (pareamento), brincar independente, 
														 comportamento social e brincar social, vocal play, rotina de sala de aula e habilidades de trabalhar em grupo, 
														 escrita, leitura e matemática.  
														 As habilidades avaliadas no VB-MAPP são divididas em três níveis de desenvolvimento que correspondem às habilidades apresentadas por crianças de desenvolvimento típico de idades entre 0-18 meses ou 1 ano e meio (nível 1), 18-30 meses ou 2 anos e meio (nível 2) e 30-48 meses  ou 4 anos (nível 3). A pontuação para cada tarefa pode ser de 1 ponto, 
														 quando a criança preenche todos os pré-requisitos, 1⁄2 ponto, quando a criança preenche uma parte dos pré-requisitos,
														  ou 0 ponto, quando a criança não preenche os pré-requisitos para pontuar.

													</div>
													<label> Considerações iniciais: </label><br>
														<label> Primeira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva01" id="mappAva01" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Segunda Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva02" id="mappAva02" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Terceira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva03" id="mappAva03" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
												</div>
											</div>
										</div>


									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9" style="text-align: center;">
											<button class="btn btn-info"  name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
