<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>VB-MAPP</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Formulário de Avaliação VB-MAPP
						
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/area/mapp/add" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-bookmark-o"></i>
													Cabeçalho do VB-MAPPs
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														
														O VB-Mapp é criado e editado de forma cronológica e sequêncial e depende dos resultados de outros relatórios como ARA, ATEC e CARS.
														O Gráfico é preenchido automaticamente ao ser respondidas as questões avaliativas.
														Cada VB-Mapp interdependente, ao contrário do formulário em papel, ele é realizado separadamente, entretanto pode-se realizar uma leitura
														consolidada pelo período definido pelo Terapeuta, juntando os VB-Mapps necessários ao parecer.
													</div>
												<div class="row">
													<div class="col-xs-12">
														<div class="row">
															<div class="col-xs-6 col-sm-6">
																<label>Beneficiário</label>
																<div class="form-group">
																	<div class="col-sm-6">
																		<select name="carsBeneid" id="carsBeneid" class="chosen-select" dcars-placeholder="Escolha..." >
																			{{#each Benes}}
																				<option value="{{_id}}">{{bene_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-4 col-sm-2">
																<label> Sexo</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-2">
																			<select name="carsBenesexo" id="carsBenesexo" class="chosen-select" dcars-placeholder="Escolha..."value="-" >
																						<option value="-">-</option>
																						<option value="F">Feminino</option>
																						<option value="M">Masculino</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-4">
																<label for="id-date-picker-1">Data Nascimento</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-4">
																			<input id="carsdcarsnasc" name="carsdcarsnasc" type="date">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-4 col-sm-4">
																<label> Idade</label>
																<div class="row">
																	<div class="input-group">
																		<div class="col-sm-2">
																			<input type="text" name="carsidade" id="carsidade" placeholder="" class="form-control" style="width: 300px;"/>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="id-date-picker-1">Preenchido por:</label>
																<div class="row">
																	<div class="col-sm-6">
																		<div class="input-group">
																			<input name="carspreenchido" id="carspreenchido" type="text"  />
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-2">
																<label for="id-date-picker-1">Parentesco</label>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="input-group">
																			<input name="carsparen" id="carsparen" type="text"  />
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">													
															<div class="col-xs-12 col-sm-4">
																<label>Técnico Acompanhante</label>
																<div class="form-group">
																	<div class="col-sm-8">
																		<select name="carsterapeutaid" id="carsterapeutaid" class="chosen-select" dcars-placeholder="Escolha..." value="-">
																			{{#each Terapeutas}}
																				<option value="{{_id}}">{{usuario_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>																								
														</div>
														
														<div class="row">
															<div class="col-xs-12">
																<label> Informações iniciais adicionais </label>
																<div class="form-group">
																	<div class="col-sm-12">
																		<textarea type="text" name="carsInfoinicars" id="carsInfoinicars" row="3" placeholder="" class="form-control" ></textarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

													<label> Assunto:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<textarea type="text" name="mappAssunto" id="mappAssunto" class="form-control" /></textarea>
														</div>
													</div>
												
												</div>
											</div>
										</div>	
											

										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													DESCRIÇÃO DA DEMANDA
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Descrição </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappDesc" id="mappDesc" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													PROCEDIMENTO
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Procedimento </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappProced" id="mappProced" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													AVALIAÇÃO DE HABILIDADES ATRAVÉS DO VB-MAPP 
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														
														O protocolo VB-MAPP foi aplicado com o objetivo de mapear as habilidades de beneficiário no que diz respeito ao comportamento verbal. 
														Este protocolo procura determinar em que nível as habilidades do beneficiário se encontra, 
														oferecendo um guia em termos de quais habilidades precisam ser foco da intervenção e em que nível da habilidade a intervenção deverá começar a ocorrer. 
														As 16 habilidades avaliadas pelo VB-MAPP são: mando, tato, intraverbal, ecoico, imitação motora, leitura, escrita, resposta de ouvinte,
														 comportamento de ouvinte por função característica ou classe (LRFFC), 
														 habilidade de percepção visual e matching to sample (pareamento), brincar independente, 
														 comportamento social e brincar social, vocal play, rotina de sala de aula e habilidades de trabalhar em grupo, 
														 escrita, leitura e matemática.  
														 As habilidades avaliadas no VB-MAPP são divididas em três níveis de desenvolvimento que correspondem às habilidades apresentadas por crianças de desenvolvimento típico de idades entre 0-18 meses ou 1 ano e meio (nível 1), 18-30 meses ou 2 anos e meio (nível 2) e 30-48 meses  ou 4 anos (nível 3). A pontuação para cada tarefa pode ser de 1 ponto, 
														 quando a criança preenche todos os pré-requisitos, 1⁄2 ponto, quando a criança preenche uma parte dos pré-requisitos,
														  ou 0 ponto, quando a criança não preenche os pré-requisitos para pontuar.

													</div>
													<label> Considerações iniciais: </label><br>
														<label style="color:crimson"> Primeira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva01" id="mappAva01" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label style="color:orange"> Segunda Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva02" id="mappAva02" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label style="color:green" > Terceira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva03" id="mappAva03" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label style="color:blue"> Quarta Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva04" id="mappAva04" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													AVALIAÇÕES E ESCALAS ATA, ATEC E CARS
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<div class="row">
														<div class="col-xs-12">
															<div class="tabbable">
																<ul class="nav nav-tabs" id="myTab">
																	<li class="active">
																		<a data-toggle="tab" href="#ata">
																			<i class="blue ace-icon fa fa-signal bigger-120"></i>
																			ATA
																		</a>
																	</li>
																	<li>
																		<a data-toggle="tab" href="#atec">
																			<i class="orange ace-icon fa fa-eyedropper bigger-120"></i>
																			ATEC
																			
																		</a>
																	</li>
																	<li>
																		<a data-toggle="tab" href="#cars">
																			<i class="red ace-icon fa fa-check bigger-120"></i>
																			CARS
																		</a>
																	</li>
																</ul>

																<div class="tab-content">
																	<div id="ata" class="tab-pane active">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			ATA – ESCALA DE AVALIAÇÃO DE TRAÇOS AUTÍSTICOS.
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				<label> Conclusão </label>
																				<div class="form-group">
																					<div class="col-sm-12">
																						<textarea type="text" name="mappAtaconclusao" id="mappAtaconclusao" row="3" placeholder="" class="form-control" ></textarea>
																					</div>
																				</div>
																			</div>
																		</div>

																		<div class="row">				
																			<div class="col-xs-12">
																				<div class="tabbable tabs-left">
																					<ul class="nav nav-tabs" id="myTab3">
																						<li class="active">
																							<a data-toggle="tab" href="#ava1" aria-expanded="true">
																								<i class="red ace-icon fa fa-pencil-square-o bigger-110"></i>
																								1º Avaliação
																							</a>
																						</li>
																						<li class="">
																							<a data-toggle="tab" href="#ava2" aria-expanded="false">
																								<i class="orange ace-icon fa fa-pencil-square-o bigger-110"></i>
																								2º Avaliação
																							</a>
																						</li>
																						<li class="">
																							<a data-toggle="tab" href="#ava3" aria-expanded="false">
																								<i class="green ace-icon fa fa-pencil-square-o bigger-110"></i>
																								3º Avaliação
																							</a>
																						</li>
																						<li class="">
																							<a data-toggle="tab" href="#ava4" aria-expanded="false">
																								<i class="blue ace-icon fa fa-pencil-square-o bigger-110"></i>
																								4º Avaliação
																							</a>
																						</li>
																					</ul>

																					<div class="tab-content">
																						<div id="ava1" class="tab-pane active">
																							<div class="alert alert-warning">
																								<button type="button" class="close" data-dismiss="alert">
																									<i class="ace-icon fa fa-times"></i>
																								</button>
																								O mando consiste na habilidade da criança pedir por aquilo que precisa ou deseja. A avaliação do nível 1 tem como objetivo verificar se a criança usa palavras, sinais ou figuras para pedir um item ou atividade desejada. As tarefas de mando do nível 2 têm como objetivo verificar se a criança demonstra mandos frequentes e espontâneos. As tarefas de mando do nível 3 tem como objetivo verificar se a criança pede por informações, usa diferentes componentes da linguagem para pedir (como verbos e adjetivos) e dá direções aos outros.
																							</div>


																						</div>
																						<div id="ava2" class="tab-pane">
																							<div class="alert alert-warning">
																								<button type="button" class="close" data-dismiss="alert">
																									<i class="ace-icon fa fa-times"></i>
																								</button>
																								O tato consiste na habilidade de nomear coisas, objetos, ações, etc. As tarefas de tato do nível 1 e 2 procuram investigar se a criança nomeia usando substantivos e verbos; e as do nível 3 verificam se a criança emite uma variedade de nomeação contendo vários componentes diferentes da linguagem
																							</div>
																							
																						</div>
																						<div id="ava3" class="tab-pane">
																							<div class="alert alert-warning">
																								<button type="button" class="close" data-dismiss="alert">
																									<i class="ace-icon fa fa-times"></i>
																								</button>
																								A resposta de ouvinte se refere à capacidade de compreender e responder à fala do outro. O nível 1 da resposta de ouvinte tem como objetivo verificar se a criança atenta e responde a palavra falada pelo outro. O nível 2 da habilidade de ouvinte tem como objetivo verificar se a criança está adquirindo habilidades de ouvinte mais avançadas. Já o nível 3 procura verificar se a criança compreende palavras complexas e sentenças envolvendo os diferentes componentes da linguagem.
																							</div>
																							
																						</div>
																						<div id="ava4" class="tab-pane">
																							<div class="alert alert-warning">
																								<button type="button" class="close" data-dismiss="alert">
																									<i class="ace-icon fa fa-times"></i>
																								</button>
																								As tarefas de percepção visual e matching-to-sample tem como objetivo verificar se a criança atenta a estímulos visuais, emparelha objetos e figuras e completa sequências e padrões.
																							</div>


																						</div>
																						
																					</div>
																				</div>
																			</div>
																		</div>


																	</div>
																	<div id="atec" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			ATEC – Escala de Avaliação do Tratamento do Autismo.
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				<label> Conclusão </label>
																				<div class="form-group">
																					<div class="col-sm-12">
																						<textarea type="text" name="mappAtecconclusao" id="mappAtecconclusao" row="3" placeholder="" class="form-control" ></textarea>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				<table id="dynamic-table" class="table table-striped table-bordered table-hover">
																					<thead>
																						<h5 class="widget-title bigger lighter">
																							<i class="ace-icon fa fa-table"></i>
																							Tabela ATEC
																						</h5>
																						<tr>
																							<th >Sub-Escalas</th>
																							<th >
																								<span class="badge badge-danger">1º Avaliação</span>
																							</th>
																							<th >
																								<span class="badge badge-warning">2º Avaliação</span>
																							</th>
																							<th >
																								<span class="badge badge-success">3º Avaliação</span>
																							</th>
																							<th >
																								<span class="badge badge-info">4º Avaliação</span>
																							</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr><!-- 1Reg -->
																							<td>
																								<span>Fala/Linguagem/Comunicação</span>
																							</td>
																							<td>	
																								<input name="mappAtecfala1" id="mappAtecfala1" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecfala1" id="mappAtecfala2" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecfala1" id="mappAtecfala3" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecfala1" id="mappAtecfala4" type="text" style="width:30px">
																							</td>
																						</tr>
																						<tr><!-- 2Reg -->
																							<td>
																								<span>Sociabilidade</span>
																							</td>
																							<td>	
																								<input name="mappAtecsoc1" id="mappAtecsoc1" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsoc1" id="mappAtecsoc2" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsoc1" id="mappAtecsoc3" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsoc1" id="mappAtecsoc4" type="text" style="width:30px" >
																							</td>
																						</tr>
																						<tr><!-- 3Reg -->
																							<td>
																								<span>Percepção sensorial/Cognitiva</span>
																							</td>
																							<td>	
																								<input name="mappAtecsen1" id="mappAtecsen1" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsen1" id="mappAtecsen2" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsen1" id="mappAtecsen3" type="text" style="width:30px" >
																							</td>
																							<td>	
																								<input name="mappAtecsen1" id="mappAtecsen4" type="text" style="width:30px" >
																							</td>
																						</tr>
																						<tr><!-- 4Reg -->
																							<td>
																								<span>Saúde/Aspectos físicos/Comportamentais</span>
																							</td>
																							<td>	
																								<input name="mappAtecsau1" id="mappAtecsau1" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecsau1" id="mappAtecsau2" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecsau1" id="mappAtecsau3" type="text" style="width:30px">
																							</td>
																							<td>	
																								<input name="mappAtecsau1" id="mappAtecsau4" type="text" style="width:30px">
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>

																	</div>
																	<div id="cars" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			CARS – Escala de Avaliação do Tratamento do Autismo.
																		</div>
																		<div class="row">
																			<div class="col-xs-12">
																				<label> Conclusão </label>
																				<div class="form-group">
																					<div class="col-sm-12">
																						<textarea type="text" name="mappCarsconclusao" id="mappCarsconclusao" row="3" placeholder="" class="form-control" ></textarea>
																					</div>
																				</div>
																			</div>
																		</div>
																		
																	</div>
																</div>
															</div>
														</div><!-- /.col -->
													</div>
													<div class="vspace-6-sm"></div>

												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													AVALIACÕES 
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<div class="row">				
														<div class="col-xs-12">
															<div class="tabbable tabs">
																<ul class="nav nav-tabs" id="myTabmapp">
																	<li class="active">
																		<a data-toggle="tab" href="#ava1mapp" aria-expanded="true">
																			<i class="red ace-icon fa fa-pencil-square-o bigger-110"></i>
																			1º Avaliação
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#ava2mapp" aria-expanded="false">
																			<i class="orange ace-icon fa fa-pencil-square-o bigger-110"></i>
																			2º Avaliação
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#ava3mapp" aria-expanded="false">
																			<i class="green ace-icon fa fa-pencil-square-o bigger-110"></i>
																			3º Avaliação
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#ava4mapp" aria-expanded="false">
																			<i class="blue ace-icon fa fa-pencil-square-o bigger-110"></i>
																			4º Avaliação
																		</a>
																	</li>
																</ul>

																<div class="tab-content">
																	<div id="ava1mapp" class="tab-pane active">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O mando consiste na habilidade da criança pedir por aquilo que precisa ou deseja. A avaliação do nível 1 tem como objetivo verificar se a criança usa palavras, sinais ou figuras para pedir um item ou atividade desejada. As tarefas de mando do nível 2 têm como objetivo verificar se a criança demonstra mandos frequentes e espontâneos. As tarefas de mando do nível 3 tem como objetivo verificar se a criança pede por informações, usa diferentes componentes da linguagem para pedir (como verbos e adjetivos) e dá direções aos outros.
																		</div>


																	</div>
																	<div id="ava2mapp" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O tato consiste na habilidade de nomear coisas, objetos, ações, etc. As tarefas de tato do nível 1 e 2 procuram investigar se a criança nomeia usando substantivos e verbos; e as do nível 3 verificam se a criança emite uma variedade de nomeação contendo vários componentes diferentes da linguagem
																		</div>
																		
																	</div>
																	<div id="ava3mapp" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A resposta de ouvinte se refere à capacidade de compreender e responder à fala do outro. O nível 1 da resposta de ouvinte tem como objetivo verificar se a criança atenta e responde a palavra falada pelo outro. O nível 2 da habilidade de ouvinte tem como objetivo verificar se a criança está adquirindo habilidades de ouvinte mais avançadas. Já o nível 3 procura verificar se a criança compreende palavras complexas e sentenças envolvendo os diferentes componentes da linguagem.
																		</div>
																		
																	</div>
																	<div id="ava4mapp" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			As tarefas de percepção visual e matching-to-sample tem como objetivo verificar se a criança atenta a estímulos visuais, emparelha objetos e figuras e completa sequências e padrões.
																		</div>


																	</div>
																	
																</div>
															</div>
														</div>
													</div>



													<div class="row">				
														<div class="col-xs-12">
															<div class="tabbable tabs-left">
																<ul class="nav nav-tabs" id="myTab3">
																	<li class="active">
																		<a data-toggle="tab" href="#mando" aria-expanded="true">
																			<i class="pink ace-icon fa fa-paper-plane bigger-110"></i>
																			Mando
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#tato" aria-expanded="false">
																			<i class="blue ace-icon fa fa-paw bigger-110"></i>
																			Tato
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#ouvinte" aria-expanded="false">
																			<i class="yellow ace-icon fa fa-bullhorn"></i>
																			Ouvinte
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#vpmts" aria-expanded="false">
																			<i class="brown ace-icon fa fa-rocket"></i>
																			VP/MTS
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#brincar" aria-expanded="false">
																			<i class="red ace-icon fa fa-cube"></i>
																			Brincar
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#social" aria-expanded="false">
																			<i class="green ace-icon fa fa-star"></i>
																			Social
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#leitura" aria-expanded="false">
																			<i class="pink ace-icon fa fa-envelope"></i>
																			Leitura
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#escrita" aria-expanded="false">
																			<i class="brown ace-icon fa fa-pencil"></i>
																			Escrita
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#lrffc" aria-expanded="false">
																			<i class="blue ace-icon fa fa-rocket"></i>
																			LRFFC
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#intraverbal" aria-expanded="false">
																			<i class="green ace-icon fa fa-commenting-o"></i>
																			Intraverbal
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#grupo" aria-expanded="false">
																			<i class="red ace-icon fa fa-users"></i>
																			Grupo
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#linguistica" aria-expanded="false">
																			<i class="yellow ace-icon fa fa-language"></i>
																			Linguística
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#matematica" aria-expanded="false">
																			<i class="orange ace-icon fa fa-sliders"></i>
																			Matemática
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#imitacao" aria-expanded="false">
																			<i class="brown ace-icon fa fa-copy"></i>
																			Imitação
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#ecoico" aria-expanded="false">
																			<i class="blue ace-icon fa fa-volume-down"></i>
																			Ecóico
																		</a>
																	</li>
																	<li class="">
																		<a data-toggle="tab" href="#vocal" aria-expanded="false">
																			<i class="pink ace-icon fa fa-microphone"></i>
																			Vocal
																		</a>
																	</li>
																
																
																
																</ul>

																<div class="tab-content">
																	<div id="mando" class="tab-pane active">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O mando consiste na habilidade da criança pedir por aquilo que precisa ou deseja. A avaliação do nível 1 tem como objetivo verificar se a criança usa palavras, sinais ou figuras para pedir um item ou atividade desejada. As tarefas de mando do nível 2 têm como objetivo verificar se a criança demonstra mandos frequentes e espontâneos. As tarefas de mando do nível 3 tem como objetivo verificar se a criança pede por informações, usa diferentes componentes da linguagem para pedir (como verbos e adjetivos) e dá direções aos outros.
																		</div>


																	</div>
																	<div id="tato" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O tato consiste na habilidade de nomear coisas, objetos, ações, etc. As tarefas de tato do nível 1 e 2 procuram investigar se a criança nomeia usando substantivos e verbos; e as do nível 3 verificam se a criança emite uma variedade de nomeação contendo vários componentes diferentes da linguagem
																		</div>
																		
																	</div>
																	<div id="ouvinte" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A resposta de ouvinte se refere à capacidade de compreender e responder à fala do outro. O nível 1 da resposta de ouvinte tem como objetivo verificar se a criança atenta e responde a palavra falada pelo outro. O nível 2 da habilidade de ouvinte tem como objetivo verificar se a criança está adquirindo habilidades de ouvinte mais avançadas. Já o nível 3 procura verificar se a criança compreende palavras complexas e sentenças envolvendo os diferentes componentes da linguagem.
																		</div>
																		
																	</div>
																	<div id="vpmts" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			As tarefas de percepção visual e matching-to-sample tem como objetivo verificar se a criança atenta a estímulos visuais, emparelha objetos e figuras e completa sequências e padrões.
																		</div>


																	</div>
																	<div id="brincar" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O brincar independente está relacionado ao ato de se envolver espontaneamente em comportamentos que são automaticamente reforçadores, ou seja, se engajar em uma atividade sem a necessidade de reforçadores externos para que o comportamento seja mantido.
																		</div>
																		
																	</div>
																	<div id="social" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O comportamento social é aquele que envolve a interação com os outros e seu reforçamento é socialmente mediado. O nível 1 dessa habilidade tem o objetivo de verificar se a criança atenta aos outros e se envolve socialmente com as pessoas. O nível 2 desse marco tem como objetivo verificar se a criança participa espontaneamente de atividades com outras crianças e interage verbalmente de forma espontânea com elas. Já o nível 3 busca verificar se a criança espontaneamente se envolve em brincadeiras e interações verbais recíprocas com os pares.
																		</div>
																		
																	</div>
																	<div id="leitura" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A criança demonstra interesse por palavras e livros, emite tatos e discrimina como ouvinte letras, faz leitura e compreende algumas palavras?
																		</div>


																	</div>
																	<div id="escrita" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A criança desenha, copia letras e números e escreve seu nome de forma independente?
																		</div>


																	</div>
																	<div id="ouvinte" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A criança compreende palavras e sentenças complexas que envolvem diferentes partes do discurso?
																		</div>
																		
																	</div>
																	<div id="lrffc" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			Observação! lrffc
																		</div>
																		
																	</div>
																	<div id="intraverbal" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			Observação! intraverbal
																		</div>


																	</div>
																	<div id="grupo" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A criança segue as rotinas de classe e aprende em formato de ensino de grupo?
																		</div>
																		
																	</div>
																	<div id="linguistica" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A articulação da criança está tornando-se mais clara? O vocabulário de falante e ouvinte está crescendo? Ela está começando a emitir mais frases com 2 ou 3 palavras?
																		</div>
																		
																	</div>
																	
																	<div id="matematica" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A criança demostra habilidades de matemática iniciais que envolvem números, quantidade, contagem e medidas? (Observação: habilidades geométricas iniciais, como formas, são avaliadas em outras seções)
																		</div>


																	</div>
																	<div id="imitacao" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O marco de imitação motora se refere à habilidade de imitação de comportamentos motores. 
																		</div>


																	</div>
																	<div id="ecoico" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O Ecoico se refere à habilidade de repetir sons, palavras ou frases de outro falante. A avaliação dessa habilidade é feita pela realização do subteste APCE (Avaliação Precoce de Competências Ecoicas). Esse subteste é dividido em 5 grupos de tarefas de ecoico: 1. Sílabas simples e duplicadas, 2. Combinação de 2 sílabas, 3. Combinação de 3 sílabas, 4. Prosódia em frases faladas e 5. Prosódia em outros contextos.
																		</div>
																		
																	</div>
																	<div id="vocal" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O vocal play se refere ao comportamento verbal espontâneo. Esse marco encontra-se apenas no nível 1 da avaliação e tem como objetivo avaliar com que frequência a criança vocaliza espontaneamente e qual a natureza das vocalizações. 
																		</div>
																		
																	</div>
																</div>
															</div>
														</div>
													</div>





												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9" style="text-align: center;">
											<button class="btn btn-info"  name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
