<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>VB-MAPP</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Formulário de Avaliação VB-MAPP
						
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/area/mapp/add" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-bookmark-o"></i>
													Cabeçalho do VB-MAPPs
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
												
													<label> Relator </label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="mappUsuid" id="mappUsuid" class="chosen-select" data-placeholder="Escolha...">
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>

													
													<label> CRP</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="text" name="mappCrp" id="mappCrp" class="form-control" />
														</div>
													</div>

													<label> Beneficiário</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="mappBeneid" id="mappBeneid" class="chosen-select" data-placeholder="Escolha..." >
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>


													<div class="space space-8"></div>
													<label for="id-date-picker-1">Data Aniversário</label>
													<div class="row">
														<div class="input-group">
															<div class="col-sm-4">
																<input name="mappData" id="mappDatnasc"  type="date">
															</div>
														</div>
													</div>	
												
												</div>
											</div>
										</div>	
											<label> Assunto:</label>
											<div class="form-group">
												<div class="col-sm-6">
													<input type="text" name="mappAssunto" id="mappAssunto" class="form-control" />
												</div>
											</div>

										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													DESCRIÇÃO DA DEMANDA
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Descrição </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappDesc" id="mappDesc" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													PROCEDIMENTO
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">

													<label> Procedimento </label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="mappProced" id="mappProced" row="3" placeholder="" class="form-control" ></textarea>
														</div>
													</div>


												</div>
											</div>
										</div>
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													ANÁLISE
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">
													<label> Quantidade de Avaliações</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="mappQtava" id="mappQtava" class="chosen-select" Value="03" data-placeholder="Escolha..." >
																	<option value="1">01</option>
																	<option value="2">02</option>
																	<option value="3">03</option>
																	<option value="4">04</option>
																	<option value="5">05</option>
																	<option value="6">06</option>
																	<option value="7">07</option>
																	<option value="8">08</option>
																	<option value="9">09</option>
																	<option value="10">10</option>
															</select>
														</div>
													</div>
													<label> Considerações iniciais: </label><br>
														<label> Primeira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva01" id="mappAva01" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Segunda Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva02" id="mappAva02" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Terceira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva03" id="mappAva03" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
												</div>
											</div>
										</div>

										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													ESCALAS DE AVALIAÇÃO
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														
														Esses formulários e escalas de avaliação são respondidos pelos responsáveis do Beneficiário.
														 O resultado vai de acordo com as respostas que os mesmos respondem diante da forma que observam o beneficiário.
													</div>
														
															<div class="tabbable">
																<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
																	<li class="active">
																		<a data-toggle="tab" href="#ATA">ATA</a>
																	</li>

																	<li>
																		<a data-toggle="tab" href="#ATEC">ATEC</a>
																	</li>

																	<li>
																		<a data-toggle="tab" href="#CARS">CARS</a>
																	</li>
																</ul>

																<div class="tab-content">
																	<div id="ATA" class="tab-pane in active">
																		<div class="alert alert-danger">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			A ATA - Escala de Avaliação de Traços Autísticos é um formulário composto por 23 subescalas que levam em consideração os critérios diagnósticos, para o TEA, como dificuldade na interação social, manipulação do ambiente, resistência à mudança, falta de contato visual, etc. Pontuações acima de 15 indicam atraso no desenvolvimento, enquanto pontuações acima de 21 a 23 são um indicativo de Transtorno do Espectro do Autista. Danilo obteve na primeira avaliação 35 pontos, na segunda avaliação, obteve 32 pontos e na terceira, 29 pontos. Nas três avaliações, a pontuação de Danilo foi compatível com uma criança com indicativo de autismo.
																		</div>

																			<label> Quem respondeu o formulário de ATA </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<input type="text" name="mappQueata" id="mappQueata" class="form-control" />
																				</div>
																			</div>

																			<label> Informações iniciais adicionais </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<textarea type="text" name="mappInfoiniata" id="mappInfoiniata" row="3" placeholder="" class="form-control" ></textarea>
																				</div>
																			</div>

																			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
																				<thead>
																					<h5 class="widget-title bigger lighter">
																						<i class="ace-icon fa fa-table"></i>
																						Segunda Avaliação
																					</h5>
																					<tr>
																						<th >Ordem</th>
																						<th >Resposta</th>
																						<th >Descrição da Questão</th>
																					</tr>
																				</thead>

																				<tbody>
																					<tr><!-- 1Reg -->
																						<td width="10%">
																							<span class="badge badge-danger">I</span>
																						</td>
																						<td width="10%">	
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1I" id="mappAta1I" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td > 
																							<span>Dificuldade na interação social </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-danger">II</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1II" id="mappAta1II" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Manipulação do ambiente</span>
																						</td>
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-danger">III</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1III" id="mappAta1III" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Utilização das pessoas ao seu redor </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 4Reg -->
																						<td >
																							<span class="badge badge-danger">IV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1IV" id="mappAta1IV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Resistência a mudanças </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 5Reg -->
																						<td >
																							<span class="badge badge-danger">V</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1V" id="mappAta1V" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Busca de uma ordem rígida </span>
																						</td>
																					
																					</tr>
																					<tr><!-- 6Reg -->
																						<td >
																							<span class="badge badge-danger">VI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1VI" id="mappAta1VI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de contato visual. Olhar indefinido </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 7Reg -->
																						<td >
																							<span class="badge badge-danger">VII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1VII" id="mappAta1VII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Mímica inexpressiva </span>
																						</td>

																					</tr>
																					<tr><!--8Reg -->
																						<td >
																							<span class="badge badge-danger">VIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1VIII" id="mappAta1VIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Distúrbio de sono </span>
																						</td>
																					</tr>
																					<tr><!--9Reg -->
																						<td >
																							<span class="badge badge-danger">IX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1IX" id="mappAta1IX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Alteração na alimentação </span>
																						</td>
																					</tr>
																					<tr><!--10Reg -->
																						<td >
																							<span class="badge badge-danger">X</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1X" id="mappAta1X" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Dificuldade no controle dos esfíncteres </span>
																						</td>
																					</tr>
																					<tr><!--11Reg -->
																						<td >
																							<span class="badge badge-danger">XI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XI" id="mappAta1XI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Exploração dos objetos (apalpar, chupar) </span>
																						</td>
																					</tr>
																					<tr><!--12Reg -->
																						<td >
																							<span class="badge badge-danger">XII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XII" id="mappAta1XII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Uso inapropriado dos objetos </span>
																						</td>
																					</tr>
																					<tr><!--13Reg -->
																						<td>
																							<span class="badge badge-danger">XIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XIII" id="mappAta1XIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Falta de atenção  </span>
																						</td>
																					</tr>
																					<tr><!--14Reg -->
																						<td>
																							<span class="badge badge-danger">XIV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XIV" id="mappAta1XIV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>- Ausência de interesse pela aprendizagem  </span>
																						</td>
																					</tr>
																					<tr><!--15Reg -->
																						<td>
																							<span class="badge badge-danger">XV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XV" id="mappAta1XV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de iniciativa  </span>
																						</td>
																					</tr>
																					<tr><!--16Reg -->
																						<td>
																							<span class="badge badge-danger">XVI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XVI" id="mappAta1XVI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Alteração de linguagem e comunicação </span>
																						</td>
																					</tr>
																					<tr><!--17Reg -->
																						<td>
																							<span class="badge badge-danger">XVII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XVII" id="mappAta1XVII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não manifesta habilidades e conhecimentos </span>
																						</td>
																					</tr>
																					<tr><!--18Reg -->
																						<td>
																							<span class="badge badge-danger">XVIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XVIII" id="mappAta1XVIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Reações inapropriadas ante a frustração </span>
																						</td>
																					</tr>
																					<tr><!--19Reg -->
																						<td>
																							<span class="badge badge-danger">XIX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XIX" id="mappAta1XIX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não assume responsabilidades </span>
																						</td>
																					</tr>
																					<tr><!--20Reg -->
																						<td>
																							<span class="badge badge-danger">XX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XX" id="mappAta1XX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Hiperatividade ∕ Hipoatividade</span>
																						</td>
																					</tr>
																					<tr><!--21Reg -->
																						<td>
																							<span class="badge badge-danger">XXI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XXI" id="mappAta1XXI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Movimentos estereotipados e repetitivos </span>
																						</td>
																					</tr>
																					<tr><!--22Reg -->
																						<td>
																							<span class="badge badge-danger">XXII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta1XXII" id="mappAta1XXII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Ignora perigo </span>
																						</td>
																					</tr>
																					<tr><!--23Reg -->
																						<td>
																							<span class="badge badge-danger">XXIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																								<select name="mappAta1XXIII" id="mappAta1XXIII" class="chosen-select" data-placeholder="Escolha..." >
																									<option value="-">-</option>
																									<option value="Sim">Sim</option>
																									<option value="Não">Não</option>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Aparecimento antes dos 36 meses (DSM-IV) </span>
																						</td>
																					</tr>
																				</tbody>
																			</table>

																			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
																				<thead>
																					<h5 class="widget-title bigger lighter">
																						<i class="ace-icon fa fa-table"></i>
																						Primeira Avaliação
																					</h5>
																					<tr>
																						<th >Ordem</th>
																						<th >Resposta</th>
																						<th >Descrição da Questão</th>
																					</tr>
																				</thead>

																				<tbody>
																					<tr><!-- 1Reg -->
																						<td width="10%">
																							<span class="badge badge-warning">I</span>
																						</td>
																						<td width="10%">	
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2I" id="mappAta2I" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td > 
																							<span>Dificuldade na interação social </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-warning">II</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2II" id="mappAta2II" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Manipulação do ambiente</span>
																						</td>
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-warning">III</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2III" id="mappAta2III" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Utilização das pessoas ao seu redor </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 4Reg -->
																						<td >
																							<span class="badge badge-warning">IV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2IV" id="mappAta2IV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Resistência a mudanças </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 5Reg -->
																						<td >
																							<span class="badge badge-warning">V</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2V" id="mappAta2V" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Busca de uma ordem rígida </span>
																						</td>
																					
																					</tr>
																					<tr><!-- 6Reg -->
																						<td >
																							<span class="badge badge-warning">VI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2VI" id="mappAta2VI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de contato visual. Olhar indefinido </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 7Reg -->
																						<td >
																							<span class="badge badge-warning">VII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2VII" id="mappAta2VII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Mímica inexpressiva </span>
																						</td>

																					</tr>
																					<tr><!--8Reg -->
																						<td >
																							<span class="badge badge-warning">VIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2VIII" id="mappAta2VIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Distúrbio de sono </span>
																						</td>
																					</tr>
																					<tr><!--9Reg -->
																						<td >
																							<span class="badge badge-warning">IX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2IX" id="mappAta2IX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Alteração na alimentação </span>
																						</td>
																					</tr>
																					<tr><!--10Reg -->
																						<td >
																							<span class="badge badge-warning">X</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2X" id="mappAta2X" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Dificuldade no controle dos esfíncteres </span>
																						</td>
																					</tr>
																					<tr><!--11Reg -->
																						<td >
																							<span class="badge badge-warning">XI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XI" id="mappAta2XI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Exploração dos objetos (apalpar, chupar) </span>
																						</td>
																					</tr>
																					<tr><!--12Reg -->
																						<td >
																							<span class="badge badge-warning">XII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XII" id="mappAta2XII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Uso inapropriado dos objetos </span>
																						</td>
																					</tr>
																					<tr><!--13Reg -->
																						<td>
																							<span class="badge badge-warning">XIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XIII" id="mappAta2XIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Falta de atenção  </span>
																						</td>
																					</tr>
																					<tr><!--14Reg -->
																						<td>
																							<span class="badge badge-warning">XIV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XIV" id="mappAta2XIV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>- Ausência de interesse pela aprendizagem  </span>
																						</td>
																					</tr>
																					<tr><!--15Reg -->
																						<td>
																							<span class="badge badge-warning">XV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XV" id="mappAta2XV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de iniciativa  </span>
																						</td>
																					</tr>
																					<tr><!--16Reg -->
																						<td>
																							<span class="badge badge-warning">XVI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XVI" id="mappAta2XVI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Alteração de linguagem e comunicação </span>
																						</td>
																					</tr>
																					<tr><!--17Reg -->
																						<td>
																							<span class="badge badge-warning">XVII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XVII" id="mappAta2XVII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não manifesta habilidades e conhecimentos </span>
																						</td>
																					</tr>
																					<tr><!--18Reg -->
																						<td>
																							<span class="badge badge-warning">XVIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XVIII" id="mappAta2XVIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Reações inapropriadas ante a frustração </span>
																						</td>
																					</tr>
																					<tr><!--19Reg -->
																						<td>
																							<span class="badge badge-warning">XIX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XIX" id="mappAta2XIX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não assume responsabilidades </span>
																						</td>
																					</tr>
																					<tr><!--20Reg -->
																						<td>
																							<span class="badge badge-warning">XX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XX" id="mappAta2XX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Hiperatividade ∕ Hipoatividade</span>
																						</td>
																					</tr>
																					<tr><!--21Reg -->
																						<td>
																							<span class="badge badge-warning">XXI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XXI" id="mappAta2XXI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Movimentos estereotipados e repetitivos </span>
																						</td>
																					</tr>
																					<tr><!--22Reg -->
																						<td>
																							<span class="badge badge-warning">XXII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta2XXII" id="mappAta2XXII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Ignora perigo </span>
																						</td>
																					</tr>
																					<tr><!--23Reg -->
																						<td>
																							<span class="badge badge-warning">XXIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																								<select name="mappAta2XXIII" id="mappAta2XXIII" class="chosen-select" data-placeholder="Escolha..." >
																									<option value="-">-</option>
																									<option value="Sim">Sim</option>
																									<option value="Não">Não</option>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Aparecimento antes dos 36 meses (DSM-IV) </span>
																						</td>
																					</tr>
																				</tbody>
																			</table>


																			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
																				<thead>
																					<h5 class="widget-title bigger lighter">
																						<i class="ace-icon fa fa-table"></i>
																						Terceira Avaliação
																					</h5>
																					<tr>
																						<th >Ordem</th>
																						<th >Resposta</th>
																						<th >Descrição da Questão</th>
																					</tr>
																				</thead>

																				<tbody>
																					<tr><!-- 1Reg -->
																						<td width="10%">
																							<span class="badge badge-success">I</span>
																						</td>
																						<td width="10%">	
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3I" id="mappAta3I" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td > 
																							<span>Dificuldade na interação social </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-success">II</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3II" id="mappAta3II" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Manipulação do ambiente</span>
																						</td>
																					</tr>
																					<tr><!-- 1Reg -->
																						<td >
																							<span class="badge badge-success">III</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3III" id="mappAta3III" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Utilização das pessoas ao seu redor </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 4Reg -->
																						<td >
																							<span class="badge badge-success">IV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3IV" id="mappAta3IV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Resistência a mudanças </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 5Reg -->
																						<td >
																							<span class="badge badge-success">V</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3V" id="mappAta3V" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Busca de uma ordem rígida </span>
																						</td>
																					
																					</tr>
																					<tr><!-- 6Reg -->
																						<td >
																							<span class="badge badge-success">VI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3VI" id="mappAta3VI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de contato visual. Olhar indefinido </span>
																						</td>
																						
																					</tr>
																					<tr><!-- 7Reg -->
																						<td >
																							<span class="badge badge-success">VII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3VII" id="mappAta3VII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Mímica inexpressiva </span>
																						</td>

																					</tr>
																					<tr><!--8Reg -->
																						<td >
																							<span class="badge badge-success">VIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3VIII" id="mappAta3VIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Distúrbio de sono </span>
																						</td>
																					</tr>
																					<tr><!--9Reg -->
																						<td >
																							<span class="badge badge-success">IX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3IX" id="mappAta3IX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Alteração na alimentação </span>
																						</td>
																					</tr>
																					<tr><!--10Reg -->
																						<td >
																							<span class="badge badge-success">X</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3X" id="mappAta3X" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Dificuldade no controle dos esfíncteres </span>
																						</td>
																					</tr>
																					<tr><!--11Reg -->
																						<td >
																							<span class="badge badge-success">XI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XI" id="mappAta3XI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Exploração dos objetos (apalpar, chupar) </span>
																						</td>
																					</tr>
																					<tr><!--12Reg -->
																						<td >
																							<span class="badge badge-success">XII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XII" id="mappAta3XII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Uso inapropriado dos objetos </span>
																						</td>
																					</tr>
																					<tr><!--13Reg -->
																						<td>
																							<span class="badge badge-success">XIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XIII" id="mappAta3XIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Falta de atenção  </span>
																						</td>
																					</tr>
																					<tr><!--14Reg -->
																						<td>
																							<span class="badge badge-success">XIV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XIV" id="mappAta3XIV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>- Ausência de interesse pela aprendizagem  </span>
																						</td>
																					</tr>
																					<tr><!--15Reg -->
																						<td>
																							<span class="badge badge-success">XV</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XV" id="mappAta3XV" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Falta de iniciativa  </span>
																						</td>
																					</tr>
																					<tr><!--16Reg -->
																						<td>
																							<span class="badge badge-success">XVI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XVI" id="mappAta3XVI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Alteração de linguagem e comunicação </span>
																						</td>
																					</tr>
																					<tr><!--17Reg -->
																						<td>
																							<span class="badge badge-success">XVII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XVII" id="mappAta3XVII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não manifesta habilidades e conhecimentos </span>
																						</td>
																					</tr>
																					<tr><!--18Reg -->
																						<td>
																							<span class="badge badge-success">XVIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XVIII" id="mappAta3XVIII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Reações inapropriadas ante a frustração </span>
																						</td>
																					</tr>
																					<tr><!--19Reg -->
																						<td>
																							<span class="badge badge-success">XIX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XIX" id="mappAta3XIX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Não assume responsabilidades </span>
																						</td>
																					</tr>
																					<tr><!--20Reg -->
																						<td>
																							<span class="badge badge-success">XX</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XX" id="mappAta3XX" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span> Hiperatividade ∕ Hipoatividade</span>
																						</td>
																					</tr>
																					<tr><!--21Reg -->
																						<td>
																							<span class="badge badge-success">XXI</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XXI" id="mappAta3XXI" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Movimentos estereotipados e repetitivos </span>
																						</td>
																					</tr>
																					<tr><!--22Reg -->
																						<td>
																							<span class="badge badge-success">XXII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																									<input name="mappAta3XXII" id="mappAta3XXII" type="checkbox" class="ace input-lg">
																									<span class="lbl bigger-120"> </span>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Ignora perigo </span>
																						</td>
																					</tr>
																					<tr><!--23Reg -->
																						<td>
																							<span class="badge badge-danger">XXIII</span>
																						</td>
																						<td>
																							<div class="checkbox">
																								<label class="block">
																								<select name="mappAta3XXIII" id="mappAta3XXIII" class="chosen-select" data-placeholder="Escolha..." >
																									<option value="-">-</option>
																									<option value="Sim">Sim</option>
																									<option value="Não">Não</option>
																								</label>
																							</div>
																						</td>
																						<td>
																							<span>Aparecimento antes dos 36 meses (DSM-IV) </span>
																						</td>
																					</tr>
																				</tbody>
																			</table>																			
																																						
																	</div>

																	<div id="ATEC" class="tab-pane">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			O ATEC (Autism Treatment Evaluation Checklist – Formulário para Avaliação de Tratamentos do Autismo) é um formulário que consiste em 4 subescalas (Fala ∕ Linguagem ∕ Comunicação; sociabilidade, percepção sensorial ∕ cognitiva e saúde ∕ aspectos físicos ∕ comportamentais). A pontuação obtida nessa escala indica a severidade dos sintomas e a redução progressiva dessa pontuação é um indicador de que as intervenções têm trazido melhoras no quadro. A pontuação do ATEC varia de 0 a 180, sendo que qualquer valor acima de 0 indica presença de sintomas ligados ao TEA. A pontuação ideal é até 30 pontos.
																		</div>
																		<label> Quem respondeu o formulário de ATEC </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<input type="text" name="mappQueatec" id="mappQueatec" class="form-control" />
																				</div>
																			</div>

																			<label> Informações iniciais adicionais </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<textarea type="text" name="mappInfoiniatec" id="mappInfoiniatec" row="3" placeholder="" class="form-control" ></textarea>
																				</div>
																			</div>
																		<table id="dynamic-table" class="table table-striped table-bordered table-hover">
																				<thead>
																					<h5 class="widget-title bigger lighter">
																						<i class="ace-icon fa fa-table"></i>
																						Tabela ATEC
																					</h5>
																					<tr>
																						<th >Sub-Escalas</th>
																						<th >
																							<span class="badge badge-danger">1ª Avaliação</span>
																						</th>
																						<th >
																							<span class="badge badge-warning">2ª Avaliação</span>
																						</th>
																						<th >
																							<span class="badge badge-success">3ª Avaliação</span>
																						</th>
																					</tr>
																				</thead>

																				<tbody>
																					<tr><!-- 1Reg -->
																						<td>
																							<span>Fala/Linguagem/Comunicação</span>
																						</td>
																						<td>	
																							<input name="mappAtecfala1" id="mappAtecfala1" type="text" style="width:30px">
																						</td>
																						<td>	
																							<input name="mappAtecfala2" id="mappAtecfala2" type="text" style="width:30px">
																						</td>
																						<td>
																							<input name="mappAtecfala3" id="mappAtecfala3" type="text"style="width:30px" >
																						</td>
																						
																						
																					</tr>
																					<tr><!-- 2Reg -->
																						<td>
																							<span>Sociabilidade</span>
																						</td>
																						<td>	
																							<input name="mappAtecsoc1" id="mappAtecsoc1" type="text" style="width:30px" >
																						</td>
																						<td>	
																							<input name="mappAtecsoc2" id="mappAtecsoc2" type="text" style="width:30px">
																						</td>
																						<td>	
																							<input name="mappAtecsoc3" id="mappAtecsoc3" type="text" style="width:30px">
																						</td>
																						
																						
																					</tr>
																					<tr><!-- 3Reg -->
																						<td>
																							<span>Percepção sensorial/Cognitiva</span>
																						</td>
																						<td>	
																							<input name="mappAtecsen1" id="mappAtecsen1" type="text" style="width:30px" >
																						</td>
																						<td>	
																							<input name="mappAtecsen2" id="mappAtecsen2" type="text" style="width:30px">
																						</td>
																						<td>	
																							<input name="mappAtecsen3" id="mappAtecsen3" type="text" style="width:30px">
																						</td>
																						
																						
																					</tr>
																					<tr><!-- 4Reg -->
																						<td>
																							<span>Saúde/Aspectos físicos/Comportamentais</span>
																						</td>
																						<td>	
																							<input name="mappAtecsau1" id="mappAtecsau1" type="text" style="width:30px">
																						</td>
																						<td>	
																							<input name="mappAtecsau2" id="mappAtecsau2" type="text" style="width:30px">
																						</td>
																						<td>	
																							<input name="mappAtecsau3" id="mappAtecsau3" type="text" style="width:30px">
																						</td>
																					</tr>
																					
																					
																				</tbody>
																			</table>	

																	</div>

																	<div id="CARS" class="tab-pane">
																		<div class="alert alert-success">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			
																			A CARS (Childhood Autism Rating Scale) é uma escala que tem como objetivo identificar crianças com autismo, distinguindo-as daquelas com prejuízo no desenvolvimento sem autismo. Além disso, o uso dessa escala permite diferenciar o autismo leve ∕ moderado do autismo grave. A CARS é composta por 15 itens, incluindo relações pessoais, imitação, resposta emocional, uso corporal, uso de objetos, respostas a mudança, resposta visual, resposta auditiva e resposta e uso do paladar, olfato e tato, medo ou nervosismo, comunicação verbal, comunicação não verbal, nível de atividade, nível e consistência da resposta intelectual e impressões gerais. A pontuação varia de 15 a 60 pontos, sendo que a obtenção de 30 pontos ou mais é indicativo de TEA.
																		</div>	


																			<label> Quem respondeu o formulário de CARS </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<input type="text" name="mappQuecars" id="mappQuecars" class="form-control" />
																				</div>
																			</div>

																			<label> Informações iniciais adicionais </label>
																			<div class="form-group">
																				<div class="col-sm-12">
																					<textarea type="text" name="mappInfoinicars" id="mappInfoinicars" row="3" placeholder="" class="form-control" ></textarea>
																				</div>
																			</div>


																	</div>
																</div>
															</div>
														
												</div>
											</div>
										</div>
								
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-pencil"></i>
													AVALIAÇÃO DE HABILIDADES ATRAVÉS DO VB-MAPP 
												</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>	
											
											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														
														O protocolo VB-MAPP foi aplicado com o objetivo de mapear as habilidades de beneficiário no que diz respeito ao comportamento verbal. 
														Este protocolo procura determinar em que nível as habilidades do beneficiário se encontra, 
														oferecendo um guia em termos de quais habilidades precisam ser foco da intervenção e em que nível da habilidade a intervenção deverá começar a ocorrer. 
														As 16 habilidades avaliadas pelo VB-MAPP são: mando, tato, intraverbal, ecoico, imitação motora, leitura, escrita, resposta de ouvinte,
														 comportamento de ouvinte por função característica ou classe (LRFFC), 
														 habilidade de percepção visual e matching to sample (pareamento), brincar independente, 
														 comportamento social e brincar social, vocal play, rotina de sala de aula e habilidades de trabalhar em grupo, 
														 escrita, leitura e matemática.  
														 As habilidades avaliadas no VB-MAPP são divididas em três níveis de desenvolvimento que correspondem às habilidades apresentadas por crianças de desenvolvimento típico de idades entre 0-18 meses ou 1 ano e meio (nível 1), 18-30 meses ou 2 anos e meio (nível 2) e 30-48 meses  ou 4 anos (nível 3). A pontuação para cada tarefa pode ser de 1 ponto, 
														 quando a criança preenche todos os pré-requisitos, 1⁄2 ponto, quando a criança preenche uma parte dos pré-requisitos,
														  ou 0 ponto, quando a criança não preenche os pré-requisitos para pontuar.

													</div>
													<label> Considerações iniciais: </label><br>
														<label> Primeira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva01" id="mappAva01" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Segunda Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva02" id="mappAva02" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
														<label> Terceira Avaliação </label>
														<div class="form-group">
															<div class="col-sm-12">
																<textarea type="text" name="mappAva03" id="mappAva03" row="3" placeholder="" class="form-control" ></textarea>
															</div>
														</div>
												</div>
											</div>
										</div>


									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9" style="text-align: center;">
											<button class="btn btn-info"  name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
