<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Bemvindo...</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="hidden" class="col-sm-6">
						<input type="text" name="contarec_usuidcad"	id="contarec_usuidcad" placeholder="" class="form-control" />
						<input type="text" name="contarecDatacad" id="contarecDatacad" placeholder="" class="form-control" />
						<input type="text" name="contarecNfnum"	id="contarecNfnum" placeholder="" class="form-control" />
						<input type="text" name="contarecBeneid" id="contarecBeneid" placeholder="" class="form-control" />
						<input type="text" name="contarecBenenome" id="contarecBenenome" placeholder="" class="form-control" />
						<input type="text" name="contarecCpfcnpj" id="contarecCpfcnpj" placeholder="" class="form-control" />
						<input type="text" name="contarecConvid" id="contarecConvid" placeholder="" class="form-control" />
						<input type="text" name="contarecDataevento" id="contarecDataevento" class="col-sm-4" class="form-control" type="text" id="creditDatapg" />
						<input type="text" name="contarecDatavenci" id="contarecDatavenci" class="col-sm-4" class="form-control" type="text" id="creditDatapg" />
						<input type="text" name="contarecDatapg" id="contarecDatapg" class="col-sm-4" class="form-control" type="text" id="creditDatapg" />
						<input type="text" name="contarecVlrprev" id="contarecVlrprev" placeholder="" class="form-control" value="0,00"/>
						<input type="text" name="contarecVlrjuros" id="contarecVlrjuros" placeholder="0,00" class="form-control" value="0,00"/>
						<input type="text" name="contarecVlrmulta" id="contarecVlrmulta" placeholder="0,00" class="form-control" value="0,00"/>
						<input type="text" name="contarecDataadianta" id="contarecDataadianta" class="col-sm-4" class="form-control" type="text" id="creditDatapg" />
						<input type="text" name="contarecVlradianta" id="contarecVlradianta" placeholder="0,00" class="form-control" value="0,00"/>
						<input type="text" name="contarecDataadianta" id="contarecDataadianta" class="col-sm-4" class="form-control" type="text" id="creditDatapg" />
						<input type="text" name="contarecVlrdiferenca" id="contarecVlrdiferenca" placeholder="0,00" class="form-control" value="0,00"/>
						<input type="text" name="contarecVlrpg" id="contarecVlrpg" placeholder="0,00" class="form-control" value="0,00"/>
						<input type="text" name="contarecVlrtipo" id="contarecVlrtipo" placeholder="" class="form-control" />
						<input type="text" name="contarecPg" id="contarecPg" placeholder="" class="form-control" />
						<input type="text" name="contarecDescr" id="contarecDescr" line="3"  placeholder="" class="form-control" />
					</div>
				</div><!-- /.main-content-inner-->
			</div><!-- /.main-container -->
		</div><!-- /.main-container-state -->	
	</body>
</html>
