<head>
	<title>Diário de Bordo</title>
	<script type="text/javascript">
	
	</script>
</head>
<body>
	<div class="main-container " id="main-container">
		<div class="page-header">
			<h1>
				Diário de Bordo
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Cadastro Geral dos Diários de Bordo
				</small>
			</h1>
		</div><!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<form role="form" action="/menu/area/bordo/add" method="POST">
					<div class="col-xs-12">
						<div class="alert alert-warning">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<strong>Observação! </strong>
							O Diário de bordo é semanal, toda nova semana, deve-se cadastrar um novo diário, não deve por datas diferentes das previstas na semana vigente.
							<br>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-sm-5">
									<div class="row">
										<label>Beneficiário</label>
									</div>
									<div class="row">
										<div class="input-group">
											<div class="input-group">
												<select name="beneStatus" id="beneStatus" class="chosen-select" >
														<option value="Sem Info">Sem Informação</option>
														<option value="Sim">ANA CLARA SANTANA DA SILVA</option>
														<option value="Não">APOLO DE ARAÚJO ALVES</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="row">
										<label>Terapeuta</label>
									</div>
									<div class="row">
										<div class="input-group">
											<div class="input-group">
												<select name="beneStatus" id="beneStatus" class="chosen-select" >
														<option value="Sem Info">Sem Informação</option>
														<option value="Sim">RINALDA ADRIANA DE MELO</option>
														<option value="Não">ALYNE DE FÁTIMA LIMA ARAGÃO DE JESUS</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="row">
										<label>Escola</label>
									</div>
									<div class="row">
										<div class="input-group">
											<div class="input-group">
												<select name="beneStatus" id="beneStatus" class="chosen-select" >
														<option value="Sem Info">Sem Informação</option>
														<option value="Sim">ESCOLA PEQUENOS AERONAUTAS</option>
														<option value="Não">COLÉGIO MADRE DE DEUS</option>
												</select>
											</div>
										</div>
									</div>
								</div>													
								<div class="col-sm-2">
									<div class="row">
										<label >Data Inicial</label>
									</div>
									<div class="row">
										<div class="input-group">
												<input id="beneDatanasc" name="beneDatanasc" type="date">
										</div>
									</div>
								</div>													
								<div class="col-sm-2">
									<div class="row">
										<label>Data Final</label>
									</div>
									<div class="row">
										<div class="input-group">
												<input id="beneDatanasc" name="beneDatanasc" type="date">
										</div>
									</div>
								</div>													
							</div>
						</div>
						<div class="col-xs-12">
							<hr>
						</div>
						<div class="col-xs-12 col-sm-4">
							<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
								<thead>
									<tr role="row">
										<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Descrição</th>
										<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
									</tr>
								</thead>
								<tbody>
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Segue Rotina</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Apresentou Estereotipas</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>																		
								<tbody>
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Foco Atencional</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>	
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Necessita de Auto Cuidado</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>																	
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Se Alimenta com Independência</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>	
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Escolalia</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>			
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Participação no grupo</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>																	
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Segue Instruções do Professor</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>	
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Repertório de Comunicação Social</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>																			
									<tr role="row" class="odd">
										<td name="Desc" rowspan="1" style="width: 400px;">Se desorganiza ao trocar de atividade ou</td>
										<td name="Pontua">
											<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
												<option value="00">00</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
											</select>
										</td>
									</tr>																	
								</tbody>
							</table>
						</div>
					</div><!-- /.col -->
					<div>
						<div class="col-xs-12" style="text-align: center;" >
							<button class="btn btn-info" name="acao" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								Salvar
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn btn-warning"  type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								Voltar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
