<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Diário de Bordo</title>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Diário de Bordo
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Cadastro Geral dos Diários de Bordo
							</small>
						</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal" role="form" action="/menu/area/bordo/add" method="POST">
								<div class="col-xs-12">
									<div class="alert alert-warning">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>
										<strong>Observação! </strong>
										O Diário de bordo é semanal, toda nova semana, deve-se cadastrar um novo diário, não deve por datas diferentes das previstas na semana vigente.
										<br>
									</div>
									<div class="col-xs-12">
										<div class="row">
											<div class="col-sm-5">
												<div class="row">
													<label>Beneficiário</label>
												</div>
												<div class="row">
													<div class="input-group">
														<div class="input-group">
															<select name="beneStatus" id="beneStatus" class="chosen-select" style="width: 400px;">
																	<option value="Sem Info">Sem Informação</option>
																	<option value="Sim">ANA CLARA SANTANA DA SILVA</option>
																	<option value="Não">APOLO DE ARAÚJO ALVES</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="row">
													<label>Terapeuta</label>
												</div>
												<div class="row">
													<div class="input-group">
														<div class="input-group">
															<select name="beneStatus" id="beneStatus" class="chosen-select" style="width: 400px;">
																	<option value="Sem Info">Sem Informação</option>
																	<option value="Sim">RINALDA ADRIANA DE MELO</option>
																	<option value="Não">ALYNE DE FÁTIMA LIMA ARAGÃO DE JESUS</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="row">
													<label>Escola</label>
												</div>
												<div class="row">
													<div class="input-group">
														<div class="input-group">
															<select name="beneStatus" id="beneStatus" class="chosen-select" style="width: 400px;">
																	<option value="Sem Info">Sem Informação</option>
																	<option value="Sim">ESCOLA PEQUENOS AERONAUTAS</option>
																	<option value="Não">COLÉGIO MADRE DE DEUS</option>
															</select>
														</div>
													</div>
												</div>
											</div>													
											<div class="col-sm-2">
												<div class="row">
													<label >Data Inicial</label>
												</div>
												<div class="row">
													<div class="input-group">
															<input id="beneDatanasc" name="beneDatanasc" type="date">
													</div>
												</div>
											</div>													
											<div class="col-sm-2">
												<div class="row">
													<label>Data Final</label>
												</div>
												<div class="row">
													<div class="input-group">
															<input id="beneDatanasc" name="beneDatanasc" type="date">
													</div>
												</div>
											</div>													
										</div>
									</div>
									<div class="col-xs-12">
										<hr>
									</div>
										
									<div class="row">
										<div class="col-xs-12">
											<div class="tabbable tabs-left "><!-- .tabbable tabs-left -->
												<ul class="nav nav-tabs" id="myTab">
													<li class="active">
														<a data-toggle="tab" href="#ide">
															<i class="blue ace-icon fa fa-child bigger-120"></i>
															Segue rotina?
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 60%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#mot">
															<i class="orange ace-icon fa fa-question bigger-120"></i>
															Ecolalia.
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#ges">
															<i class="pink ace-icon fa fa-star-half-o bigger-120"></i>
															Apresentou Extereotipas?
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#par">
															<i class="red ace-icon fa fa-birthday-cake bigger-120"></i>
															Participação em Grupo.
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#nuc">
															<i class="blue ace-icon fa fa-users bigger-120"></i>
															Foco atencional.
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#amb">
															<i class="orange ace-icon fa fa-home bigger-120"></i>
															Segue as Instruções
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>															
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#reg">
															<i class="blue ace-icon fa fa-gavel bigger-120"></i>
															Necessita Autocuidado
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>															
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#sau">
															<i class="red ace-icon fa fa-heartbeat bigger-120"></i>
															Comunicação Social
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#lin">
															<i class="brown ace-icon fa fa-commenting-o bigger-120"></i>
															Alimentação independente
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>
														</a>
													</li>
													<li>
														<a data-toggle="tab" href="#sex">
															<i class="red ace-icon fa fa-venus-mars bigger-120"></i>
															Comportamento na troca de ambiente
															<div class="progress progress-mini">
																<div class="progress-bar" style="width: 100%;"></div>
															</div>															
														</a>
													</li>																		
																													
												</ul>

												<div class="tab-content">
													<div id="ide" class="tab-pane fade in active">
															<div class="col-xs-12 col-sm-6">
																<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
																	<thead>
																		<tr role="row">
																			<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Segue Rotina</th>
																			<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Dia</th>
																			<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Data</th>
																			<th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr role="row" class="odd">
																			<td name="Obs" rowspan="7" style="width: 250px;">
																				<textarea type="text" name="beneEscolaObs" id="beneEscolaObs" placeholder="Aqui voce pode inserir alguma observação sobre a rotina." class="form-control" style="overflow: hidden; overflow-wrap: break-word; resize:false; width:290px; height:320px;"></textarea> 
																			</td>
																			<td name="dia" rowspan="1" style="width: 50px;">Dom</td>
																			<td type="date" name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>	
																		<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Seg</td>
																			<td name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																		<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Ter</td>
																			<td name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																			<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Qua</td>
																			<td name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																			<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Qui</td>
																			<td name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																			<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Sex</td>
																			<td name="data"  style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																			<tr role="row" class="odd">
																			<td name="Obs" rowspan="1" class="hidden">
																				<a href="#"></a>
																			</td>
																			<td name="dia" rowspan="1" style="width: 4px;">Sab</td>
																			<td name="data" style="width: 110px;"><input id="beneDatanasc" name="beneDatanasc" type="date"></td>
																			<td name="Pontua">
																				<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>														
													</div>
													<div id="mot" class="tab-pane fade">
														
													</div>
													<div id="ges" class="tab-pane fade">
														
													</div>
													<div id="par" class="tab-pane fade">
													
													</div>
													<div id="nuc" class="tab-pane fade">
																						
													</div>
													<div id="amb" class="tab-pane fade">
													
													</div>
													<div id="reg" class="tab-pane fade">
													
													</div>
													<div id="sau" class="tab-pane fade">
																								
													</div>
													<div id="lin" class="tab-pane fade">
														
													</div>
													<div id="sex" class="tab-pane fade">
																											
													</div>

												</div>			
											</div><!-- /.tabbable tabs-left -->
										</div><!-- /.col -->
									</div><!-- /.row -->
								
								</div><!-- /.col -->

									<div class="form-actions">
										<div class="col-xs-12" style="text-align: center;" >
											<button class="btn btn-info" name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
							
							</form>
						</div>
					</div>
				</div><!-- /.main-container -->
			</div><!-- /.main-content -->
		</div>
	</body>
</html>