<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Laudos</title>
	</head>

	<body class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Evolução Edição</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form">
								
								<div class="form-group"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1" enabled="false"> Laudo id</label>

									<div class="col-sm-9">
										<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Data </label>

									<div class="col-sm-9">
										<input type="text" id="form-field-1-1" placeholder="" class="form-control" />
									</div>
								</div>

								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Técnico </label>

									<div class="col-sm-9">
										<input type="text" id="form-field-1-1" placeholder="Ponha informações sobre atividades realizadas na sala" class="form-control" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Beneficiário </label>

									<div class="col-sm-9">
										<input type="text" id="form-field-1-1" placeholder="Ponha informações sobre atividades realizadas na sala" class="form-control" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Descrição </label>

									<div class="col-sm-9">
										<input type="text" id="form-field-1-1" placeholder="Ponha informações sobre atividades realizadas na sala" class="form-control" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="button">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
					
							</form>


						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
